%article#echelon  
  %header  
    %h1 Ech<br>e<br>lon
    %h2 2<br>00<br>6

  %section  
    :markdown
      I stole the morning hours  
      With wordless thoughts  
      As we lay amongst the leaves  
      We drew the lines of our ancestry  
      Moments of introspection  
      Command the flight of our soul  
      And in fleeing  
      I sacrifice them to Hyperion.

  %section
    :markdown
      A flock of wild geese  
      Cries out an ancient song  
      With their praises  
      I forsake autonomy  
      The river bends and  
      The water from the marina  
      Preaches another sermon  
      To a boy that grew beyond  
      A father’s expectations.

  %section
    :markdown
      My love nestles in the twigs  
      Scent of rotting wood  
      Evaporates amid heavy mist  
      In the twilight the moon  
      Refracts my penance  
      As time delays a song  
      My first and final tribute.

  %section
    :markdown
      Oh! How the overture of life  
      Resists the silent damnation of casualty  
      We talk on a first-name basis,  
      My childhood God and I.

      Dear Kin  
      Parted at birth  
      Until now  
      Who imparts with  
      A due embrace  
      Yet I have nothing  
      To share  
      Perhaps distant strangers  
      We were meant to be.

  %section
    :markdown
      Boy beyond this barricade  
      ‘Tis my blood that I owe  
      The night brings comfort  
      To a heart that once was yours  
      That was stolen from you  
      Prayers reach this poly-god  
      But do they hear me like you do?

  %section
    :markdown
      Justifications fail  
      To wake the gentle giant  
      That is satisfaction  
      I have rallied through  
      Many paths that sought  
      The silver light  
      Yet I return without prize  
      Do I owe it to half-heartedness  
      Or is it just the design of life?

  %section
    :markdown
      Supple skin  
      I never had  
      Though boyish charms  
      I cradled at birth  
      Rich with ego  
      And nothing more  
      Content I am  
      With this crystal ball  
      While others are  
      Tied by a noose  
      Fear that is the hand  
      That reins them in  
      So it is I that will  
      Set them loose.

      Free-falling into a state of flux  
      Reversing the light  
      Rousing the flames  
      Sifting through the ashes of a wreck  
      Joyriding the carousel of time  
      Speaking in a speechless rhyme  
      Being one and only  
      Belonging to myself but not I.

  %section
    :markdown
      Embellished upon a shroud  
      Randomness prevails  
      Laughter succumbs to reason  
      That mounts on a saddle  
      Of inappropriateness  
      Hands touch a faded eminence  
      And with each stone hurled  
      Liberates a moment  
      That chronicles a life misplaced.

  %section
    :markdown
      Questions haunt waking moments  
      A life pieced together  
      By a determination to play The cold whispers of friends  
      Upbraid excessiveness  
      As I wrestle with my conscience  
      Do they not know that my actions  
      Are as transparent as they are?

  %section
    :markdown
      I have been judged on numerous occasions  
      I have explicated myself just as many times  
      A moment of peace I relish the most  
      Yet a dose of that moment has a perverse price.

      Family and friends are institutions  
      They belong to a realm of self-design  
      To our families we owe ourselves  
      To our friends we owe our invention.

  %section
    :markdown
      Union of a totality  
      Severs along its seams  
      As bygone words  
      Brought only confusion  
      The heart forfeited earns  
      A medal of remorse  
      I have just lost a friend	  
      A partner in this scheme of life.

  %section
    :markdown
      A primeval world casts its shadow  
      Like a diagram of a universal manifest  
      I am charged with the penalty of life  
      As I sit at my desk pouting in silence  
      The fruition of years of trail and error  
      Earns a warrant to further search my soul  
      Yet the story is not complete without  
      The daily hysteria of a manic-depressant. 

  %section
    :markdown
      I lay a command upon the soil  
      Like a kid wishing upon the stars  
      On the edge of consciousness  
      My whole is being carved  
      As one dream fosters another  
      An unknown hand stitches  
      Them like patch-work  
      As I plough through them  
      I wake only to define myself.

      Oh! How you wane  
      By the slightest of petitions  
      You carry messages  
      Shed by lovers and dreamers  
      Carrying their song  
      To the deep  
      Immersing the  
      Credence of the sun  
      You become the soul  
      Of the night  
      Harbouring the voice  
      Of a millennia  
      Yet you stir like  
      A jester before court.

  %section
    :markdown
      I look around me  
      And all is at right-angle  
      I look inside myself  
      And all that remains  
      Is but a jumbled  
      Deck of cards. 

  %section
    :markdown
      Reflections fail  
      To portray ourselves  
      As appearances suffocate  
      Our potential to be  
      Yet beauty needs  
      No reflection to  
      Reach its own potential.

  %section
    :markdown
      The night has matured into day  
      And yet I write these words  
      Upon this page as if my day  
      Has no importance  
      Time for bed delays with each word  
      And as if with every word  
      I charm myself to sleep.

      How I yearn for another baptism  
      The light sprinkling of that holy water  
      To cleanse me of my sexuality  
      Perhaps good fortune  
      Will then lead me back  
      To some semblance  
      Of a righteous human being.

  %section
    :markdown
      The tanks came as  
      If God’s hand had swept by  
      And carried the children away  
      The face of humanity  
      Burnt off without mercy  
      The innocence of laughter  
      Now buried six feet under.

  %section
    :markdown
      I learnt the Ten Commandments  
      Just as I turned my head from  
      A life of absolution  
      I sought the pleasures of adulthood  
      As I unsheathed myself from  
      The carapace of religion.

  %section
    :markdown
      On this day I turn twenty-five  
      And I am slow in waking  
      The sensuality of dawn  
      Resuscitates the epitome of youth  
      Back to the pulsating rhythm  
      Of a church bell’s chime  
      Playing amongst the groves  
      When sweat poured down onto my face  
      Without care or derision  
      I am slow in waking  
      As this memory is mine to keep.

      Boredom inspires great things  
      Our soul unwraps and  
      Beneath the echelons of the mind  
      The flurry of questions  
      Conciliate one another  
      When the gaze salutes at nothing  
      When the heartbeat slows  
      Inspiration swells like a bud  
      And wakes us from our boredom.

  %section
    :markdown
      I douse the flames  
      Of hypocrisy  
      As the world resumes  
      Its interactions like  
      The day before  
      I am no longer Hephaestion  
      But a relic of old.

  %section
    :markdown
      Mornings begin its  
      Ritual of blessings  
      With a hymn from Selene  
      From dream to the privilege  
      Of motion and memory  
      Eyes open as unfamiliar gods  
      Shine their rays on you  
      And I alone.

  %section
    :markdown
      She came in time  
      For my upbringing  
      Her songs at bedtime  
      Were pure and willing  
      She sang of legends  
      That soon became  
      A part of me and  
      Through the art of words  
      I rested my faith upon a fate  
      As the lyrics remained  
      Within these walls  
      Even when we parted.

      Moments of truth reveal itself  
      In times of strife and heart-ache  
      Within the soul  
      Two parts marry  
      And the frailty of the self  
      No longer hides its face  
      In the soil of consolation.

  %section
    :markdown
      All too quiet is the mind  
      That seeks to become second  
      To the edicts of men As nature’s voice rings truer  
      To our hearts within  
      And the pounding might  
      Of pulses rage  
      All is not lost when  
      We succumb to these demons.  

  %section
    :markdown
      As the day stretches beyond  
      Into undiscovered plains  
      My heart roams to where  
      The hyacinths grow  
      This garden of unthawed beauty  
      Remains my sacred asylum  
      Where thoughts of the purest kind  
      Loiters without prejudice.

