%article#filix
  %header
    %h1 F<br>I<br>LIX
    %h2 200<br>5

  %section
    :markdown
      ### an odd song
 
      flies buzz around my head  
      a certain greatness forms  
      a halo infringes upon my forehead  
      in a moment reborn  
      I swipe at them but to no avail  
      they rally in numbers build  
      a heaven without wood or nail  
      and enthrones a worthy king
 
      I shift they follow  
      a fool who tries his best to  
      become immaterial  
      mere object to the eye  
      phone rings  
      and in a brief lapse of hysteria  
      I tame the person on the other end
 
      after the immediate first round  
      the conversation earth-bound  
      o tannebaum of ancient song  
      I recite to myself a minute long  
      everything eases into rhyme  
      and all who stands bow to time  
      I no longer look beguiled  
      to these flies that have aged.
 
      may’s memorandum
 
       on the 18th she passed away  
      on the 23rd she was born  
      in the 8th hour  
      counting between breaths stopped  
      we said good-bye to may in august.
 
  %section
    :markdown
      ### ode unbecoming
 
      and with all that is said and done  
      a fado is scripted upon a stone
 
      let our subconscious take us to the docks  
      where sea-farers bid farewell to wives
 
      let the waters become our institution that  
      defines truth and buries injustices to the deep
 
      and with all that is said and done  
      let the subconscious take us to the docks  
      where sea-farer and wife reunite.
 
  %section
    :markdown
      ### unacquainted
 
      she flavours me with envy  
      infatuation flows out with the tide  
      barren shores await the majesty  
      of a dawn in matrimony  
      the timbre in a stillness exalts  
      amid the pale imitation of night   
      I defy our silent pledge with a touch  
      only to redeem the power of speech.  
 
  %section
    :markdown
      ### masters great and small

      there is no strobe of light that does not  
      value a home  
      so let the great masters find solace in the deep  
      shards of hypotheses venture into the depths  
      but they are mere renditions  
      let them come forth and breathe into them  
      the breath of exodus

      the deep is but a foil and its eminence  
      but a profusion of foams and bubbles  
      yet you great masters lurk beneath  
      where time is inconsequential  
      where time surrenders to your whims.

  %section
    :markdown
      ### fern

      fern of the heart opposes all words and its function  
      calyx of metaphors encircle a theatre of war  
      petal of the free church picked by callow hands  
      brings its only significance to a wreath

      poetry of a glaring flame that emits no light  
      words that only tame a fraudulent display  
      mechanics of thought pioneer across the poles  
      to where north becomes south

      landscape of impressions assemble into a featureless picture  
      while colours of salubrious hues inseminate nature  
      strokes of force initiate a whirl-wind that opens  
      the heart that tends the fern.

  %section
    :markdown
      ### juventas 

      they turn from me and run run  
      I never know why this happens  
      perhaps it is the colour of my back pack

      I am used to being left out of the loop loop  
      they share a laughter amongst themselves  
      is it the size of my shoes my entire attire 

      they point their fingers as I walk by by  
      head down I count my steps back home  
      and all I do is curse my father’s fair hair

      day long I sit under the elm tree to read read  
      while thinking of ways to getting even  
      enough of their pranks and name games.

  %section
    :markdown
      ### she who has no name

      the water slowly rises  
      fringes the lip of a dream  
      as life becomes unreal  
      tears seep out into the gates

      she waits her calling  
      she waits her turn the  
      water confines to the brim  
      a dream solidifies

      she lays at the foot of a virgin’s alter  
      and revives a prayer to theotokos  
      words in deliberation falter  
      her victory doves left years ago.

  %section
    :markdown
      ### an oath to a lie

      the seeds are sown  
      satisfaction graces  
      the faces of men  
      who deflower the new  
      and deny the old.

  %section
    :markdown
      ### emotional rampage

      bitter symphonies disguise  
      the voice of a vagabond  
      in the end clouds decay  
      as thoughts liquefy 

      embers electrify  
      the skies of a wintry morning  
      the residue of a memory  
      puts me in my place

      spineless without the  
      compass of my sanity my  
      definition remains unclear as  
      he alternates between the hours

      clouds fail to dispel  
      from our room  
      exoneration is sacrificed  
      in this ritual of awakening.

  %section
    :markdown
      ### a score 

      my unforgettable  
      her refusal  
      his anecdotal  
      paranormal.

  %section
    :markdown
      ### self console

      the wind blows through  
      my book and life unravels  
      I leave it in the lilac fields and  
      these pages fill with stimulation

      without discipline the mind  
      desires the liberty to roam  
      as senses resort to higher ground  
      in search of greener pastures

      as life unravels in the wind  
      my pages come alive  
      and my tongue feels  
      the birth of a new song.

  %section
    :markdown
      ### it should be raining

      I turn my back  
      against existentialism 

      quadruples  
      as he enters the room

      to where I sit  
      every morning  
      reading  
      waiting.

  %section
    :markdown
      ### debris 

      the composure of youth  
      reclines in the wake of  
      an insistence to love

      the mast is strained  
      cracks form and  
      another ship-wreck looms.

  %section
    :markdown
      ### the art of falling

      passed out  
      head first  
      stomach in view  
      needs another kick  
      in the right direction.

  %section
    :markdown
      ### swan song

      fields of laurels cascade into the sky  
      polished skin of morning dew  
      glistens from head to sunken petals  
      the world is too modest  
      for my cultivation.

  %section
    :markdown
      ### retreat

      severed  
      loose at the tongue  
      fingers tap  
      on an empty table

      I tell myself  
      to think a little less  
      of his departure  
      but three months  
      is a death sentence.

  %section
    :markdown
      ### last call

      the morning  
      remakes itself

      knocks irritatingly  
      at my door

      evening follows  
      and I embrace my trial.

  %section
    :markdown
      ### berlin

      tender expressions  
      rest upon this berth of indifference

      two souls  
      two minds
  %section
    :markdown
      ###  one line.

  %section
    :markdown
      ### panorama

      rhythm trance  
      heads turn to the beat  
      eyes swallow the insanity  
      dark rooms to my left  
      young boys to my right  
      the scent of ecstasy  
      fails to capture the mind  
      whiffs of odour beautiful  
      translate my night  
      into a vocabulary  
      of unuttered senses.

  %section
    :markdown
      ### variations of bliss 

      fresh lips touch  
      as memories  
      of past lovers breach  
      a hallowed moment  
      unrefined.

  %section
    :markdown
      ### the vault

      love begins where love ends  
      the vault within the heart unseals  
      and again we tend our love  
      like a shepherd to his flock.

  %section
    :markdown
      ### the push

      grace falters  
      as I discriminate  
      against the values I had sown

      persuasion filters  
      into the domain of a conscience  
      and again I bow to my addiction.

  %section
    :markdown
      ### the resonance of a farewell

      to what do I owe this pleasure  
      fatal mistress of the gospel  
      my internal healing is well under way  
      and flowers of dawn has been laid to rest  
      under your name and supervision

      beds of sapphire desires  
      once an earthly sanctuary  
      softens even the most astounding critics  
      who once tortured vows  
      so quickly raise their brows  
      and their glasses  
      to our reunion.

         
      forgive and let live

      vengeance is but a thought  
      revenge but a blunt blade

      death by the sword  
      tenders life with  
      another meaning.

  %section
    :markdown
      ### capture 

      reason catapults  
      nothingness abound  
      clarity sliced into morsels  
      suspicion renders false  
      and edible.

  %section
    :markdown
      ### eleven to three

      at the back seat  
      the panorama widens  
      the world is ploughed through  
      like a mast in the fog

      sympathy stirs  
      at the onset of a new beginning  
      the whole-hearted games  
      we play have no ending.

  %section
    :markdown
      ### the tenth

      the cut was surgical  
      the humming continues  
      eyes gaze downward  
      to a civilian no longer

      who would have known  
      the consequences  
      of a birth could  
      salvage a husband’s loss.

