%article#hope-struck
  %header
    %h1 Hop<br>e<br><br>struc<br>k
    %h2 0<br>5

  %section
    :markdown
      days are shorter  
      I tell myself  
      the void must be filled  
      and what better than the night  
      like I she is no hunter  
      scours merely for acceptance  
      like / the loners  
      on pavements

  %section
    :markdown
      why not act like a man / when you are  
      why carry a loose identity  
      to be peeled off when necessary  
      why the anxiety / the care  
      the world is not on your shoulders  
      you have handsomely  
      placed it on mine

  %section
    :markdown
      it has always been on my term  
      sex  
      money / or lack of  
      drugs  
      such carefree existency  
      yet far from  
      careless  
      live by / rules  
      clouded with hypocrisy  
      while fastening a smile   
      turn on the light  
      and / I shall follow  
      willingly

  %section
    :markdown
      one only needs to look outside  
      and smell the cruelty  
      abundant as summer’s / fruition  
      to revive what is left  
      in the wake of  
      an inspiration-drought  
      glorious / pigmentations  
      align the scope  
      everything swells  
      down to the feet  
      so why not the mind

  %section
    :markdown
      mornings / what dreary events  
      the alarm goes of  
      and we carry our bodies out of bed  
      like squealing children  
      cursing  
      cursing  
      hating  
      we stumble / sit for a while  
      as temptation begins its masquerade  
      we savour our coffee  
      as if an exotic remedy  
      to wear off the pain  
      we stare at each other   
      faceless  
      expressions are cruel  
      we huddle together / like family  
      day-dreaming

  %section
    :markdown
      sometimes / I neglect to thank  
      the Lord  
      and my days seem heavier  
      does he forget / who I am

  %section
    :markdown
      words seek validation  
      as actions seek motivation  
      statements  
      neuter  
      fertilise nothing

  %section
    :markdown
      it is selfish to love  
      to truly love  
      because we love  
      ourselves just as much  
      so love / makes us idle

  %section
    :markdown
      it is always time for bed  
      but never time to wake / up  
      life becomes a chore  
      we roam we stalk we mingle  
      we do everything / that is meaningless  
      our destination is but a mirage  
      we become the joker  
      to kings  
      but in our dreams  
      we find ourselves  
      playing  
      fulfilling the unknown  
      no excuses to falter / no  
      intuition to maim us  
      what wonders  
      dreams do to us  
      daily  
      liberations

  %section
    :markdown
      someone will forget to remember you  
      because death takes away  
      the privilege of / priority

  %section
    :markdown
      the night  
      her cruel companion  
      seduces with sunken promises  
      and absconds with hers  
      she / calls on the day to  
      sit with her  
      a little longer

  %section
    :markdown
      solace of the night

      all / is oblivious

      oblivious

      o v s

  %section  
    :markdown  
      monuments  
      remnants of a bygone supremacy  
      reminds us  
      of their monumental defeat  
      declarations  
      of a faded / glory

  %section  
    :markdown  
      secrets  
      of others  
      will be kept  
      temporarily  
      to myself

      when I get bored  
      I / will share  
      them

  %section  
    :markdown  
      a leaf  
      begins a journey

      downstream  
      into / the lines of  
      an unwritten / libretto

  %section  
    :markdown  
      days / sting

      like salt / on wounds

      as they bear / no significance

  %section  
    :markdown  
      walks along garden paths  
      the sound of birds corresponding  
      picture / of absolute serenity

      quietude slips away / like smoke  
      into someone else’s mind  
      and my image of her fades

  %section  
    :markdown  
      religion / an inconvenience

      human nature / my sole dependency

      this is where I station my faith

  %section  
    :markdown  
      expectations shelter  
      beneath a roofless dwelling  
      its voice demands attention yet / it holds no integrity

  %section  
    :markdown  
      water runs cold  
      skies / confuse  
      elements reverse

  %section  
    :markdown  
      I  
      write everything down so that  
      I  
      remember the things  
      I  
       need to do / yet when  
      I  
      re-read them / they are exposed to scrutiny  

  %section  
    :markdown  
      the cat relishes  
       my cashmere

      we fondle / for a moment  
      shy away from eye contact

      and before long  
      he reappears onto  
      the lap of another

  %section  
    :markdown  
      nightly / widow  
      the world is at your feet  
      why trail a forbidden extravagance

  %section  
    :markdown  
      consolations / spring

      bring no security

      formality / precedes

      leads to absolution

  %section  
    :markdown  
      my axis  
      floats in the rotunda  
      of / estimation

      the sky never quite clears  
      and / the glorious morning pledged  
      has yet to reappear

      the heart  
      is kept on a leash  
      muted  

      it mutates  
       instead

  %section  
    :markdown  
      I lived / everywhere  
      east and west  
      now I live  
      where east meets west

      I am at last at home  
      but this place I call / home  
      is not where I belong

  %section  
    :markdown  
      waiting is an excuse to be uninterested  
      in the impending matter of / unimportance

  %section  
    :markdown  
      the cigarette burns  
      minimally

      the smoke / exhaled  
      charts her journey

  %section  
    :markdown  
      he / smiles seamlessly  
      to align with  
      social conformity

      he / takes off his glasses  
      to make him seem  
      less foreign

      he / loses his accent  
      to abandon any childish  
      pretension

      he / works at night  
      to justify  
      his days

  %section  
    :markdown  
      unter den linden  
      wantonness / dallies beneath  
      your shade

  %section  
    :markdown  
      words pulled in all directions  
      degrees of / assembly  
      settle without legitimacy  
      a / voice cries out

      a murmur  
       ricochets

  %section  
    :markdown
      his aroma  
      my / morning  
      hair flaxen  
      frames a set of azure  

      a face  
      I barely / remember

      anon  
      because / I no longer know  
      him

  %section  
    :markdown  
      outcaste for at least another year  
      divided / without derision

      unremorseful  
      he leaves his mark upon the bottle

  %section  
    :markdown  
      it is easy to reject life  
      for what it is

      what we have we should  
      take for granted

      dreams / cannot  
      escape a reality

      to live is to enact the sins  
      why waste ourselves with the bland

      at the end we all see the light  
      let us hope it is our / heaven  

  %section  
    :markdown  
      sheathed in moonlight  
      a lean / figurine  
      draws an unlikely observer

      he composes another sonata  
      in / her name

  %section  
    :markdown  
      to be the constant cynosure  

      my back prepares for / another stab

      but they fail to harm my vital organs

      my pride and my arrogance

  %section  
    :markdown  
      shades of grey

      my / only colour

      their simplicity  
      gave birth  
      to me

  %section  
    :markdown  
      define me / with  
       your democracy  
      and you will only achieve  
      a step backwards

      revive me / with  
      electric shocks  
      and all you will receive  
      is pity

  %section  
    :markdown  
      as I try to delineate  
      moss from stone  
      my hair / thins  
      and everything  
      begins  
      to make / sense

       ///////////////

      the dome shrinks as I raise an eyebrow  
      it stands mightier in the mind

      many flock to react / awe-inspiringly  
      only to hide their disappointment

      ingenious / your glass facade  
      but you stutter in your message

      modernity curtsies  
      before the grandeur of old  

  %section  
    :markdown  
      birthdays  
      where is the point  
      they amass a deluded / anticipation  
      and leave us less of a person  
      we were the day / before

      a year marks another year  
      towards an end  
      it passes through a toll-booth  
      of an unformed / adulthood  
      we whistle in tune with innocence  
      yet our melody is complex  
      even at / forty  
      we play in our cots  
      our days spent philandering  
      with our toys  

      at what age do we reach our prime  
      even now / I have become none the wiser  
      still make the same regrettable mistakes

      my head stoops  
      as I count from one to ten  

  %section  
    :markdown  
      obligations / submerge  
      enthusiasm grinds to a halt

      the exact time remains / unclear  
      the ticking bears no rhythm  
      the sound of trumpets  
      salute the last hour  
      of another day of  
      silent impressions  

  %section  
    :markdown  
      I have outgrown my primal shell  
      while my friends / remain in theirs

      as I stare at the deserted cocoon  
      they inveigh / by labelling me  

      persona non grata

      fortunately / my new family  
      needs no introduction

  %section  
    :markdown  
      his / grievance

      forth-coming

      intrudes

  %section  
    :markdown  
      the ergonomics / of friendship

      broadens the scope / for exoneration

  %section  
    :markdown  
      intumescence  
      of curiosity

      maroons atop / a ledge

  %section  
    :markdown  
      our hands never quite / touch

      persiflage restores  
      our / childish ways

      upon a diptych  

  %section  
    :markdown  
      as / she withdraws  
      with a decisive breath

      she invites me  
      to re-enter her womb

  %section  
    :markdown  
      his configuration / incomplete  
      harnesses a supple pre-text  
      to a  
      disengagement  

  %section  
    :markdown  
      she complicates our affair  
      with / her  
      ocho

      boleo then media-luna

      she leads as I / follow  
      this is our  
      argentine ritual

  %section  
    :markdown  
      she fine-tunes me  
      with her body-language  
      dusk is slow / in letting go

      like nature  
      her rain is merciless  
      her sister-summits / brutal

      salvation hides  
      behind her facial-clouds  
      my roof / begins to leak

  %section  
    :markdown  
      I am left doing cart-wheels  
      to / attract his attention

      or perhaps I should cast / a spell  
      to seek out the faintest  
      glimmer of hope

      his face / unamused  
      I am left doing cart-wheels  
      alone

  %section  
    :markdown  
      I hate everyone outside my window  
      they seem to ease / into life  
      without the suspicion / of others

       interactions of a pure morning

  %section  
    :markdown  
      the squeal of a fire-engine  
      liberates me from my sleep  
      I wake / sodden  
      I question  
      all that is around me

      is this my bed upon which I lay

  %section  
    :markdown  
      he / strips me of my patina  
      only to find a mould-stricken  
      self

  %section  
    :markdown

      she guides me / paternally

      scent of patchouli  
      mimics / her absence

  %section  
    :markdown  
      to / wander

      to / drift along her riverbed  
      to / sing a madrigal with her

      my only purpose as a youth

  %section  
    :markdown  
      our hearts synchronize  
      as we / rediscover our patois

      she disinfects my wounds  
      the lies  
      covers / my bullet-holes  
      with her shroud

      colours / me

      she unties my hand and  
      and we talk diplomatically

  %section  
    :markdown  
      the last cigarette / is lit  
      stoically  
      before he completes / his verse  
      his attention deflects towards  
      a defiant congregation

      he moves in / light-years  
      to wrestle with Monoceros  
      and Lepus

  %section  
    :markdown  
      I forbid myself / to count the lines  
      that form along my characteristics  
      I refuse to diffuse / into another streak  
      of self-engaging protests  
      I stand / further away than usual  
      from my beloved twin  
      I conquer / these demons  
      and sacrifice them in the name of good-will

  %section  
    :markdown  
      women of the / spire  
      children of the / knave

      no longer supports  
      the proceedings at the altar

      feigned euphoria  
      keep-sake for the organist

  %section  
    :markdown  
      his words are easy  
      mal-nourished /at best

      but  
      hardly deformed / enough

  