%article#hope-struck
  %header
    %h1 Ho<br>pe<br><br>stru<br>k
    %h2 0<br>5

  %section
    :markdown
      days are shorte  
      I tell myself  
      the void must be fille  
      and what better than the night  
      like I she is no hunte  
      scours merely for acceptance  
      like / the loners  
      on pavements

  %section
    :markdown
      why not act like a man / when you ar  
      why carry a loose identit  
      to be peeled off when necessar  
      why the anxiety / the car  
      the world is not on your shoulders  
      you have handsomely  
      placed it on mine

  %section
    :markdown
      it has always been on my term  
      sex  
      money / or lack of drug  
      such carefree existenc  
      yet far fro  
      careless  
      live by / rule  
      clouded with hypocris  
      while fastening a smile   
      turn on the ligh  
      and / I shall follo  
      willingly

  %section
    :markdown
      one only needs to look outsid  
      and smell the cruelt  
      abundant as summer’s / fruitio  
      to revive what is lef  
      in the wake of  
      an inspiration-drought  
      glorious / pigmentation  
      align the scop  
      everything swell  
      down to the fee  
      so why not the mind

  %section
    :markdown
      mornings / what dreary event  
      the alarm goes of  
      and we carry our bodies out of be  
      like squealing childre  
      cursin  
      cursin  
      hating we stumble / sit for a whil  
      as temptation begins its masquerad  
      we savour our coffe  
      as if an exotic remed  
      to wear off the pai  
      we stare at each other   
      faceles  
      expressions are cruel  
      we huddle together / like family  
      day-dreaming

  %section
    :markdown
      sometimes / I neglect to than  
      the Lor  
      and my days seem heavier  
      does he forget / who I am

  %section
    :markdown
      words seek validatio  
      as actions seek motivation  
      statements  
      neute  
      fertilise nothing

  %section
    :markdown
      it is selfish to lov  
      to truly lov  
      because we love  
      ourselves just as muc  
      so love / makes us idle

  %section
    :markdown
      it is always time for be  
      but never time to wake / u  
      life becomes a chor  
      we roam we stalk we mingl  
      we do everything / that is meaningles  
      our destination is but a mirag  
      we become the joke  
      to king  
      but in our dreams  
      we find ourselve  
      playin  
      fulfilling the unknow  
      no excuses to falter / no  
      intuition to maim us  
      what wonders  
      dreams do to u  
      daily  
      liberations

  %section
    :markdown
      someone will forget to remember you  
      because death takes away  
      the privilege of / priority

  %section
    :markdown
      the night  
      her cruel companio  
      seduces with sunken promise  
      and absconds with hers  
      she / calls on the day t  
      sit with he  
      a little longer

  %section
    :markdown
      solace of the night  
      all / is oblivious  
      oblivious  
      o v s

  %section
    :markdown
      monument  
      remnants of a bygone supremac  
      reminds us  
      of their monumental defea  
      declaration  
      of a faded / glory

  %section
    :markdown
      secret  
      of other  
      will be kep  
      temporaril  
      to myself  
      when I get bore  
      I / will shar  
      them

  %section
    :markdown
      a leaf  
      begins a journey  
      downstream  
      into / the lines o  
      an unwritten / libretto

  %section
    :markdown
      days / sting  
      like salt / on wounds  
      as they bear / no significance

  %section
    :markdown
      walks along garden path  
      the sound of birds correspondin  
      picture / of absolute serenity  
      quietude slips away / like smok  
      into someone else’s min  
      and my image of her fades

  %section
    :markdown
      religion / an inconvenience  
      human nature / my sole dependency  
      this is where I station my faith

  %section
    :markdown
      expectations shelter  
      beneath a roofless dwellin  
      its voice demands attention yet / it holds no integrity

  %section
    :markdown
      water runs col  
      skies / confus  
      elements reverse

  %section
    :markdown
      I  
      write everything down so tha  

      remember the things  

      need to do / yet when  

      re-read them / they are exposed to scrutiny  

  %section
    :markdown
      the cat relishe  
      my cashmere  
      we fondle / for a momen  
      shy away from eye contact  
      and before lon  
      he reappears ont  
      the lap of another

  %section
    :markdown
      nightly / wido  
      the world is at your fee  
      why trail a forbidden extravagance

  %section
    :markdown
      consolations / spring  
      bring no security  
      formality / precedes  
      leads to absolution

  %section
    :markdown
      my axi  
      floats in the rotund  
      of / estimation  
      the sky never quite clear  
      and / the glorious morning pledge  
      has yet to reappear  
      the heart  
      is kept on a leas  
      muted   
      it mutate  
      instead

  %section
    :markdown
      I lived / everywher  
      east and wes  
      now I liv  
      where east meets west  
      I am at last at hom  
      but this place I call / hom  
      is not where I belong

  %section
    :markdown
      waiting is an excuse to be unintereste  
      in the impending matter of / unimportance

  %section
    :markdown
      the cigarette burn  
      minimally  
      the smoke / exhale  
      charts her journey

  %section
    :markdown
      he / smiles seamlessl  
      to align wit  
      social conformity  
      he / takes off his glasse  
      to make him see  
      less foreign  
      he / loses his accen  
      to abandon any childis  
      pretension  
      he / works at night  
      to justif  
      his days

  %section
    :markdown
      unter den linde  
      wantonness / dallies beneat  
      your shade

  %section
    :markdown
      words pulled in all direction  
      degrees of / assembl  
      settle without legitimac  
      a / voice cries out  
      a murmu  
      ricochets

  %section
    :markdown
      his arom  
      my / mornin  
      hair flaxe  
      frames a set of azure   
      a fac  
      I barely / remember  
      ano  
      because / I no longer kno  
      him

  %section
    :markdown
      outcaste for at least another yea  
      divided / without derision  
      unremorseful  
      he leaves his mark upon the bottle

  %section
    :markdown
      it is easy to reject lif  
      for what it is  
      what we have we should  
      take for granted  
      dreams / cannot  
      escape a reality  
      to live is to enact the sin  
      why waste ourselves with the bland  
      at the end we all see the ligh  
      let us hope it is our / heaven  

  %section
    :markdown
      sheathed in moonligh  
      a lean / figurin  
      draws an unlikely observer  
      he composes another sonat  
      in / her name

  %section
    :markdown
      to be the constant cynosure   
      my back prepares for / another stab  
      but they fail to harm my vital organs  
      my pride and my arrogance

  %section
    :markdown
      shades of grey  
      my / only colour  
      their simplicity  
      gave birt  
      to me

  %section
    :markdown
      define me / wit  
      your democrac  
      and you will only achieve  
      a step backwards  
      revive me / wit  
      electric shock  
      and all you will receiv  
      is pity

  %section
    :markdown
      as I try to delineate  
      moss from ston  
      my hair / thin  
      and everythin  
      begins  
      to make / sense

  %section
    :markdown
      the dome shrinks as I raise an eyebro  
      it stands mightier in the mind  
      many flock to react / awe-inspiringl  
      only to hide their disappointment  
      ingenious / your glass facad  
      but you stutter in your message  
      modernity curtsie  
      before the grandeur of old  

  %section
    :markdown
      birthday  
      where is the poin  
      they amass a deluded / anticipatio  
      and leave us less of a perso  
      we were the day / before  
      a year marks another yea  
      towards an end  
      it passes through a toll-booth  
      of an unformed / adulthoo  
      we whistle in tune with innocenc  
      yet our melody is comple  
      even at / fort  
      we play in our cot  
      our days spent philanderin  
      with our toys   
      at what age do we reach our prim  
      even now / I have become none the wise  
      still make the same regrettable mistakes  
      my head stoops  
      as I count from one to ten  

  %section
    :markdown
      obligations / submerge  
      enthusiasm grinds to a halt  
      the exact time remains / unclea  
      the ticking bears no rhyth  
      the sound of trumpet  
      salute the last hou  
      of another day o  
      silent impressions

  %section
    :markdown
      I have outgrown my primal shel  
      while my friends / remain in theirs  
      as I stare at the deserted cocoo  
      they inveigh / by labelling me   
      persona non grata  
      fortunately / my new family  
      needs no introduction

  %section
    :markdown
      his / grievance  
      forth-coming  
      intrudes

  %section
    :markdown
      the ergonomics / of friendship  
      broadens the scope / for exoneration

  %section
    :markdown
      intumescence  
      of curiosity  
      maroons atop / a ledge

  %section
    :markdown
      our hands never quite / touch  
      persiflage restores  
      our / childish ways  
      upon a diptych  

  %section
    :markdown
      as / she withdraws  
      with a decisive breath  
      she invites me  
      to re-enter her womb

  %section
    :markdown
      his configuration / incomplet  
      harnesses a supple pre-text  
      to a  
      disengagement  

  %section
    :markdown
      she complicates our affai  
      with / he  
      ocho  
      boleo then media-luna  
      she leads as I / follo  
      this is ou  
      argentine ritual

  %section
    :markdown
      she fine-tunes m  
      with her body-languag  
      dusk is slow / in letting go  
      like nature  
      her rain is merciles  
      her sister-summits / brutal  
      salvation hides  
      behind her facial-cloud  
      my roof / begins to leak

  %section
    :markdown
      I am left doing cart-wheel  
      to / attract his attention  
      or perhaps I should cast / a spel  
      to seek out the faintest  
      glimmer of hope  
      his face / unamuse  
      I am left doing cart-wheels  
      alone

  %section
    :markdown
      I hate everyone outside my windo  
      they seem to ease / into lif  
      without the suspicion / of others  
      interactions of a pure morning

  %section
    :markdown
      the squeal of a fire-engin  
      liberates me from my slee  
      I wake / sodde  
      I question  
      all that is around me  
      is this my bed upon which I lay

  %section
    :markdown
      he / strips me of my patin  
      only to find a mould-stricken  
      self

  %section
    :markdown
      she guides me / paternally  
      scent of patchoul  
      mimics / her absence

  %section
    :markdown
      to / wander  
      to / drift along her riverbe  
      to / sing a madrigal with her  
      my only purpose as a youth

  %section
    :markdown
      our hearts synchroniz  
      as we / rediscover our patois  
      she disinfects my wound  
      the lie  
      covers / my bullet-hole  
      with her shroud  
      colours / me  
      she unties my hand an  
      and we talk diplomatically

  %section
    :markdown
      the last cigarette / is li  
      stoicall  
      before he completes / his vers  
      his attention deflects toward  
      a defiant congregation  
      he moves in / light-year  
      to wrestle with Monocero  
      and Lepus

  %section
    :markdown
      I forbid myself / to count the line  
      that form along my characteristic  
      I refuse to diffuse / into another strea  
      of self-engaging protest  
      I stand / further away than usual  
      from my beloved twi  
      I conquer / these demon  
      and sacrifice them in the name of good-will

  %section
    :markdown
      women of the / spire  
      children of the / knave  
      no longer supports  
      the proceedings at the altar  
      feigned euphori  
      keep-sake for the organist

  %section
    :markdown
      his words are eas  
      mal-nourished /at best  
      but  
      hardly deformed / enough

