%article#molecular
  %header
    %h1 Molecular
    %h2 2000

  %section
    :markdown
      ### Pillow

      Crushed  
      By the heady might  
      Of slumber

      Countenance sublime

      Silent before the  
      Melody of morning.

  %section
    :markdown
      ### The Fan

      Papery opponent  
      You adorn her smile as  
      She poses with a certain ease

      Swift strokes  
      Excite the air and flutter  
      Over lips of damson

      Breathing zephyr  
      Across caressed cheeks  
      Boast no more.

  %section
    :markdown
      ### Hope-struck

      Take your time  
      My very dear, in making your reply

      Splendid, I must say  
      You are most generous with words

      A shame you  
      Cannot even spell my name.

  %section
    :markdown
      ### Giselle

      Minx; eyes bound shut  
      Hands, soft that you bring  
      Are playful with a feline elegance

      Crystalline gaze  
      Falls upon unread features  
      Silent whispers turn to brutal panting

      I am yours to keep  
      Wounded by your venom.

  %section
    :markdown
      ### Amarantos I

      The moon manipulates  
       Gestures flake   
      As thoughts remake   
      The composition of a face  
      Tonight, we shall stay unnamed.

  %section
    :markdown
      ### Amarantos II

      The ungainly moon

      Has come and gone, many a time

      Tonight, we shall stay unnamed.

  %section
    :markdown
      ### Soma

      Reminiscences   
      Of childhood  
      Colour another year  
      Of inconstant seasons  
      That escape unto  
      The broken sky.

  %section
    :markdown
      ### Framed and Antique

      Window of the past  
      Element of the present

      Long hair covered my left eye  
      I was very different indeed.

  %section
    :markdown
      ### Into the Twilight

      Flying round and round   
      In a moonlit paradise  
      While others, hand in hand  
      Take to their jovial flight.  
