%article#moment-between-thoughts
  %header
    %h1 Moment<br>Between Thoughts
    %h2 2003

  %section
    :markdown
      ### Evocare

      Losing my words to you  
      I am no longer great nor brave  
      Sheltering beneath your palm  
      Sweet sympathy turns to dew.

  %section
    :markdown
      ### Libatio

      If only lightning could liberate  
      Aim and strike at the core  
      Where guilty passions rage  
      I would, this crown of thorns, replace.

  %section
    :markdown
      ### Lysandra

      Alas, towards a fading breath  
      Like the mellifluousness 
      Of a daydream  
      I am gone. 

  %section
    :markdown
      ### Ingenerare~

      I belong in 
      This numbed silence  
      In this playground of thoughts  
      Where Truth lies still, skinned.

  %section
    :markdown
      ### Elysium

      Seated at the helm of introspection  
      Entwined amidst an embroidered fallacy  
      Eyes gaze forth without  condemnation 
      With nerves unsettled.

  %section
    :markdown
      ### Provocatio

      Soliloquy of praise  
      Perched on my hand like a dove  
      Without remonstrance  
      I release it to a forgotten paradise.

  %section
    :markdown
      ### Evasio

      Fleeting moments  
      Subject to consequence  
      Melt at the brink  
      With every transgression.

  %section
    :markdown
      ### Procuratio

      The sustenance of pleasure  
      Flows from the essence of beauty.

  %section
    :markdown
      ### Procuratio II

      Where charity has no measure  
      Providence reigns infinitely.

  %section
    :markdown
      ### Miscellaneous

      Generosity is not measured 
      By the amount you give  
      But by the amount  
      You sacrifice.























      Proverbialis

      To draw on happiness  
      In between the frames of time  
      Is to capture a moment  
      In which many are denied.





      Babylonius

      The faint chime of prurience  
      Encroaches as dusk appears  
      Like the susurration of a heart-beat  
      Eyes closed, reality disappears.





      Axioma

      Every feeling warrants an explanation  
      Like a whirlwind, emotions fumble without cause  
      As every word succumbs to the light  
      The temple of interpretation is preserved.





      Dorma

      Life brings only decay: so  
      Damn the light, the mirrored hallways  
      The busy streets, the abject glances  
      That steer all hopes away.





      Exhortatio

      Shame on you, fatherland  
      For wooing God’s trust  
      The glorification of conquest dangles like bait  
      With arms that chime a forgotten hour.


















      Neuter

      To seek is to follow ignorance  
      In waiting comes the unforeseen  
      In forgetting the paramount is delivered                                                                                            
      In rejecting the all-conquering imbues within.





      Atta Kenare

      Bruised and battered  
      Like rotten plums  
      Fallen from a great height  
      They crouch at the foot of the cross.





      Crystallum

      Riding on the carousel of deceit  
      Screened by the flames of unreality  
      Such uncharted allegories  
       Do youthful minds trail.





      Pahlaviv

      To gaze through the eyes of an emperor  
      To smell the orchids and touch the gold  
      To lose it all, life grows 
      Old in an instant.





      Disfacere

      Surrendering to an infinite power  
      Where strength turns to its substitute  
      And the frame of composure skews  
      Fragments may be buried, but the cycle continues.


















      Epiphania

      When the heart and the mind 
      Aligns itself with each other  
      Life’s simple complexities  
      Blossom like a rare flower.





      Intercedere

      To lose sight of ambition  
      Is to draw the dagger deeper  
      Words never fulfil prophecies  
      Without the deeds to accompany.





      Maledictio

      The torment of a reflection  
      Has made its imprint  
      The mind seeks validation  
      As reasons wrestle with expectations.





      Candidus

      Love’s escapade  
      A mere fantasy  
      Surrendering from the womb  
      Tender arms embrace my kind.





      Perfectio 

      Love is not the resounding tune of joy  
      But the unity of every beat.




















      Provocatio

      Silent is the voice that speaks of loss  
      Still is the heart-beat that brims with fear  
      And empty is the mind 
      That demands forgiveness.





      Rursus

       Gone are the colours and sounds of youth  
      Memories cling onto every wall  
      Momentum of life, led by crooked steps  
      Finally submits to the charge of dawn.





      Salvus

      I am used to disappointment  
      What is it to wait another day?





      Constantia

      Faith, revisited  
      Heartache, my Constance.





      Constantia II

      The vivid gesture of victory  
      Flickers with pathetic clarity.
























      Atrophia

      With every truth-bearing admission  
      That finds its way to heaven  
      Another greed-driven sentiment  
      Bloats the heart with questions.





      Solus

      Beyond the sapphire complexion  
      Ridden with endearment  
      A semblance of a fractured moment  
      Etches poetically into lost time.





      Insomnia

      Dissembling the puzzle  
      With tortured breath  
      Perpetual beginnings  
      Renders false destinies.





      Desiderium

      The silken veil ascends  
      Dreams left undisturbed  
      Bosoms still wet with dew  
      Masked with a scent of allure.





      Nysa

      Shards of light sublime  
      Pirouettes on the seared dunes  
      A matrimony of young spirits  
      Glide into the gleaming horizon.


















      Donatus

      Faith tied with a ribbon  
      Head bowed in contemplation  
      As the soul searches beyond  
      Senses rouse frustration.





      Eulalia

      As hours amend each dying hour  
      Irrelevance blends into oblivion  
      In wait of an apparition beneath the moon 
      Consciousness wilts as desires bloom.





      Hevel

      Certainty ascends like a plume of smoke  
      Consequence bears no resemblance to hope  
      The gleaming peripheral allures distant glances  
      Bound onto ourselves with muted wishes.





      Hyakinthos

      Curiosity multiplies with every conquest  
      Yet passiveness has never strayed far  
      In search of another truth  
      This chair has never moved.





      Arimathea

      Daylight seeps in and fills 
      These walls with momentary light  
      The warmth becomes a memory  
      As dust settles on footprints.


















      Vespasanious

      Love’s conquest lies in its defeat  
      Its crowning glory; a veil of absence  
      With confessions, soft cheeks redden  
      A union sealed with remembrance.





      Zephyros 

      I can feel her breath  
       In every recollection  
      A turmoil of sentiment  
      Plunders inside this chrysalis.





      Castanea

      I turn to myself and not to God  
      With every anguish to Him I place  
      And in seeking reason  
      I flee from conviction.





      Myroxylon

      Will my ending 
      Extract pity or humour  
      Would this inevitability stem 
      From misunderstanding?





      Buxus


      Nurtured emotions  
      Like swollen buds  
      Sway in the heat  
      Waiting to unravel.

















      Cerasus


      Hypnotized by cinders  
      Caressed by flames  
      Eyes sweep across  
      Her desert  landscape.




      Canto


      My hands have touched God’s affinity  
      Yet where is the cross that bears his divinity  
      My flesh, an emblem  
      My mind, its keeper.




