%article#nebula  
  %header  
    %h1 Nebu<br>la
    %h2 2010

  %section  
    :markdown
      Bark and I shall sing  
      I could even dance  
      To your command  
      Pull these strings  
      And my body belongs  
      As my arms flap about  
      Like fish out of water

      Traces of you lie everywhere  
      Like the dust of dead skin  
      I flake in your name  
      As you fill my double-void  
      Use me as mere possession  
      And when I earn my freedom  
      You will have yours.
      
  %section  
    :markdown
      The season turns  
      Leaves grow profusely  
      At the onset of Spring

      The urge to kill  
      Every feeling  
      Time does its own healing

      I come to you  
      To beg forgiveness  
      Yet I hold my tongue 

      So send in the clouds  
      And raise your shield  
      As I begin to my masquerade.
      