%article#neue
  %header
    %h1 Neue
    %h2 2008

  %section  
    :markdown  
      Four things I hold  
      Dear to me  
      Four systems of function  
      Renders me anonymous.

  %section  
    :markdown  
      Who is holier  
      Than he  
      Who speaks in rhyme?

  %section  
    :markdown  
      I sit as an observer  
      My eyes set upon nature  
      Closeted  
      My thoughts vary in magnitude  
      My voice is carried with a soft breath  
      In the hope that father will find  
      Faultless

      Yet it is he who  
      Seeks my praise.

  %section  
    :markdown  
      Fluid breath  
      Of spring  
      Twilight extends  
      Beyond

      Nectar of life  
      Brings to union  
      Hand and heart.

  %section  
    :markdown  
      I lock horns to kill off  
      Any remnants of dignity  
      I battle head-to-head  
      With those who coincide with me.

  %section  
    :markdown  
      Fight  
      Again we fight  
      A new terror to come ashore

      Sing  
      Again we sing  
      Across oceans my song of folklore  
      To rest  
      Again laid to rest  
      These infants who lived before

      time  
      there is no time  
      but to dream of a life no more.

  %section  
    :markdown  
      If I am one  
      Then I am the sum of my parts  
      Two halves  
      That assume one façade  
      One façade that equates  
      To a whole

      But what entity is this  
      If the quality of each part  
      Is unaccountable?

      I think therefore I am?  
      Or I think because I am  
      Programmed? 

  %section  
    :markdown  
      Incidental / accidental?

      Which is definite  
      The smashed head upon the floor  
      Or the motion or the motion of the fall?

  %section  
    :markdown  
      Flowers  
      (colour and scent).

      Bees  
      (colour and buzzing sound).

      Hive  
      (colour, buzzing sound and scent of honey).

  %section  
    :markdown  
      I am unknown to myself  
      But not to you

      The clarity of my voice  
      Is like the rhythm of a trance

      It fixates you  
      While I cast a spell

      You listen to me  
      As I annihilate you.

  %section  
    :markdown  
      Dreams materialise  
      Like an answered prayer

      I sleep while I feel  
      All the emotions  
      Of a human

      Yet this body is  
      At a standstill

      I feel drunk and sober  
      At the same time

      Conversations  
      Whispered at my ear

      Molestations occur  
      With my warrant

      So dreaming is what I want  
      As dreaming is to be.

  %section  
    :markdown  
      Captive in a moment  
      Singular

      Held at ransom  
      Plural.

  %section  
    :markdown  
      Modifications  
      Come at a price

      A constitution derived from grass and weed.  

  %section  
    :markdown  
      I shall let my spine dictate where I go and when I shall leave

      How to lean on top of my table  
      How I recline on an empty chair

      I shall dominate the north  
      And abandon the south

      I shall harvest the crops  
      Under the twilight

      And disintegrate  
      Like morning dew.

  %section  
    :markdown  
      Salome of my own imagination  
      Jesus from a much needed faith  
      Holy trinity I stole from a pedestal  
      Berlin I came without opposition.

