%article#re-vera
  %header
    %h1 R<br>E / V<br>E   R   A
    %h2 2<br>007

  %section  
    :markdown  
      Shoeless  
      Faceless  
      Glaring in the pale  
      Shadow of an eternal light  
      A hand shakes off the dust  
      Again it settles  
      Upon a brow
  
      The shackles of a love  
      Binds  
      Like calligraphy upon  
      A page
  
      A prayer  
      Reclusive  
      Breaches the heavenly summit  
      To where mercy  
      Clings amid the twilight
  
      A yawn  
      Overtakes a breath  
      An apology  
      Awaits another rendition  
      Graceful gestures  
      Only to liquefy into dew.
  
  %section
    :markdown
      Amongst my friends  
      I rise like a totem  
      Yet into the trenches  
      I call my home
  
      I soak in the soil  
      Cleansing me of my sins  
      Reborn I lay  
      Naked without a whim
  
      A man they once called me  
      Yet so much I neglected to prove  
      Now I know how to be that man  
      As truth begins to envelope me.

  %section
    :markdown
  
      The darkness  
      Blankets  
      Days muted  
      Silenced
  
      Fleeing  
      There goes the soul  
      Such abandonment  
      Yet the body  
      Remains  
      Intact
  
      These limbs belong to another  
      And my palm is wet  
      From hesitation
  
      Who am I  
      The speaker  
      Of verse
  
      A child of hope  
      Perhaps  
      Or of wantonness?
  
  %section
    :markdown
      Silent  
      Besotted  
      Depraved  
      Of a voice
  
      Love tackles me  
      To my knees
  
      I begin with another  
      Familiar story  
      And my mind recoils  
      To speak.
  
  %section
    :markdown
      And so life goes on  
      Without the daily remedy  
      Of purification  
      The night proves hard to defeat  
      As hours are mimed
  
      Dreams vaporise  
      Dawn begins its charge  
      And to all those at hand  
      Believers  
      Of faith or fortune  
      Arise to be summoned.
  
  %section
    :markdown
      Wrenching  
      At the possibility  
      Of happiness
  
      Quenching  
      The thirst  
      That itself dictates
  
      Melting  
      Upon the superficiality  
      Of it all
  
      Splitting  
      The minutetist of details  
      That life summons
  
      Rendering  
      A true belief  
      To be false.



















