%article#soliloquoy
  %header  
    %h1 Solil   Oqouy
    %h2 20 05

  %section  
    :markdown  
      Song on a string  
      Ties unto the hand  
      Of a fugitive  
      The vague echo of 
      A glorious world  
      Expired.
  
      The feral, now tamed  
      Parts with itself  
      An old, forgotten self  
      Leased at last with 
      A desirable attire  
      Unassuming.

  %section  
    :markdown  
      Pure, unlearned 
      Willow-limbs drape  
      The crystal banks and mimic  
      A tune of early spring  
      Cluster of praise  
      Amid falling leaves.
  
      Beneath the celestial symbols  
      Where earthly creatures  
      Honour nightly vigils  
      A random petal sealed  
      In the inner-sanctum  
      Of a momentary rapture.

  %section  
    :markdown  
      The remaining days fill 
      This imaginary cavity  
      With laughter, unmeasured  
      At arms length, the light  
      Of all things caress like 
      The breeze of an unknown season.
  
      The single gathering  
      Of a waning contribution  
      Of a life grown beyond  
      It’s human skin, finds  
      Solace in the lucent victuals 
      Of an intimate moment.

  %section  
    :markdown  
      Oh! World of unattainable 
      Constants, where the foot 
      Treads it leaves no trace  
      And when the sun manifests  
      With an etch on the window-pane  
      A new beginning stirs, unborn.
  
      Silence marks the distance  
      Between Earth and Heaven, and  
      The moon’s allure quiets our voice  
      When it speaks, it speaks to reveal  
      The splendour of a day’s uncharted  
      Journey, taken by an aged-youth.

  %section  
    :markdown  
      Flora, fruit-resplendent 
      At the mouth of an exposed 
      Estuary, where mythical creatures 
      Once drank from its tepid stream  
      Here, love stole our virginal sip where  
      Our lips still cling to nature’s goblet.
  
      A flame casts an uneven shadow  
      The moss-carpet stows a fair maiden  
      Water drips to the sound of a novel shrill  
      And beckons forth two metaphors 
      That lovingly find refuge in 
      The light of a glaring flame.

  %section  
    :markdown  
      Words, face of an 
      Invisible impression  
      Combusts without purpose  
      Climbs the altitude of the mind  
      From cocoon to thread  
      Truth wrestles with faith.
  
      Defiant and unworthy faith!  
      A vineyard of tangled emotions  
      Offer to sweeten the heart  
      Of a vagrant’s thirst, and 
      With a closing hand secures the  
      Avowal of another lost identity.

  %section  
    :markdown  
      Twilight’s filament  
      Cascades from ornate sky-patterns 
      Punctures the cosy haven that nurtures  
      The whims of a man’s dream  
      A feast took place, and merriment has 
      Yet to evaporate from a waking smile.
  
      The splinter of morning  
      Slits and peels off the ripened skin  
      That encases an unready love  
      For love of life seems unnatural  
      To this young man; as he counts the days  
      Death out-numbers Life.

  %section  
    :markdown  
      Mislaid secrets huddle  
      At the point of a needle  
      It awaits the unaware hand  
      To weave a deadly-strain into the  
      Finely, coloured binding; the final 
      Feature to Earth’s infant dress.
  
      Adolescence’s timeless majesty  
      Opulent with an unruffled motif  
      Imitates the unshakable trait of 
      Laboured hands; its work complete, 
      Slips back and rests upon 
      The cambered cushion.

  %section  
    :markdown  
      Wishes of a 
      Withered decadence 
      Suckles the honeyed-sap 
      Of a bygone descendant  
      It’s spiral, lame; spurns 
      The help of a close relation.
  
      Warm amber juice  
      Coats the remaining bark  
      The final remnants of 
      A decaying coffin, once  
      The residence of a confident  
      Man, now but a handful of soil.

  %section  
    :markdown  
      Fern, nevermore; fingerless boughs 
      Recline in a poetic poise 
      Once steadfast in resolve  
      Vigilant guardians of  
      An ancient womb  
      A livier wreath becomes you.
  
      The scent of pine loiters 
      At the foot of the hills  
      And intrudes to stroke the hair  
      Of grand-mothers sleeping  
      A message finds consolation 
      Before a wrinkled face.

  %section  
    :markdown  
      How they triumph: the vines!  
      To capture a summer and 
      Its delayed ecstasy  
      Nocturnal pledges merge the soul  
      To eventual traitors, who already 
      Turn their heads to the confessional.
  
      The contour of the soul’s 
      Constitution, defined by the  
      Abstracted version of ‘the other’  
      Collects a tarnished trophy  
      All but one hangs proudly  
      In wait of a restoration.

  %section  
    :markdown  
      Brimful of ego, unfledged  
      Trickles down the chalice  
      The concatenation of mishap  
      Leads the common soul to the 
      Gates of the Inferno; but  
      Paradise is not in Dante’s mind.
  
      To break free beyond the 
      Holy placenta, away from the Light 
      Only to re-enter; the recycled communion 
      Has lost credibility  
      Paradise is not beyond reach  
      Follow thy inner-god, homeward.

  %section  
    :markdown  
      Garden gnomes sit 
      With a vacant stare  
      They wonder about 
      Life’s inaccuracies 
      And laugh at those  
      Who care.
  
      They smile artificially  
      Just to imitate the 
      World’s hypocrisy  
      And as soon as we turn  
      Tucks their leer  
      Inside their hat. 

  %section  
    :markdown  
      Buried oblivion  
      A silhouette of a kite  
      Cordless, yet groped  
      By a skeletal fin  
      Flusters relentlessly  
      Rotating the spheres.
  
      The sole watchman  
      Towers over the  
      Self-devouring night  
      Devil-mistress lends a 
      Helping hand and draws  
      It to the wasteland.

  %section  
    :markdown  
      The parabola of 
      His scars sketched  
      On the dust plains  
      Tear-prints mark  
      His previous existence  
      As a nomad.
  
      Into life and out 
      Of death as easily  
      He turns villages 
      Into empty cities  
      And ancestral homes  
      Into ready graves.

  %section  
    :markdown  
      In between her thoughts  
      My face is residue  
      I have been reckless  
      In my sharing of love  
      Any more promises and  
      I will disavow myself.
  
      I have learnt to be 
      Careful of stray words  
      Past deeds unearthed  
      Sooner or later 
      I will have to pay  
      Like always.

  %section  
    :markdown  
      The profusion of 
      A girl’s purpose  
      Indefinable facets 
      Of the same truth  
      That truth resides  
      Beneath the skirt.
  
      They say it is 
      The same for a boy  
      But is it only the boy 
      Who lacks emotion?  
      Unless of course  
      He chases himself.

  %section  
    :markdown  
      They come and go  
      As and when it pleases them  
      The sun’s command has  
      Little influence on 
      Their colour or abundance  
      Saviour or imitator?
  
      They mime a reflective 
      Existence to sentimentalize 
      A florid concupiscence  
      Cheap imitation!  
      What flowers can bloom when 
      Nourished with pesticide?

  %section  
    :markdown  
      Sycamores line a stolen path  
      Blades of sepia blunt the horizon  
      Reduced to its core  
      Its seamless courage 
      Yields to another day of 
      An unwarrantable spell.
  
      The vibrating crusts  
      Shake the hollow monuments  
      Tears confine to a bundle 
      Of leaves at it’s’ feet  
      A vanquished infinity 
      Wilts without a witness.

  %section  
    :markdown  
      I am not myself  
      As I was a moment ago  
      These hands seem smaller  
      My skin less the gift it was  
      And these eyes were once  
      Supernovas that shone.
  
      But I am still myself  
      As I write these words  
      But who is this self that  
      Lyrical thoughts pursue?  
      Time is the essence  
      That is transparent.

  %section  
    :markdown  
      Our penultimate kiss  
      And nothing to savour it with  
      All has been a blur up to 
      This point; the circle swells 
      With corners, the triangle 
      Boasts four sides.
  
      The shadow casts a form, 
      The light inwardly illuminates  
      All is a mess, here and beyond  
      The mind becomes  
      Unrecognisable like  
      A dried up lake. 

  %section  
    :markdown  
      Burlesque beast-man  
      His smile is filth, his  
      Memorial flower stripped  
      Artifice satisfies his candour  
      As he sifts through the silt  
      Subconscious turns on him.
  
      Subtle note of myrrh 
      From what is left of a skin  
      Ribs propel forth  
      Like a bursting cage  
      He condemns her grievance  
      But instead it is his.

  %section  
    :markdown  
      A thousand miles, my host 
      Tarmac and concrete 
      My proverbial companion  
      Soon we will harbour an 
      Urgent love, and just as soon 
      Become a distant memory.
  
      My new love awaits  
      Beyond signs and turnings  
      After countless traffic lights  
      And washroom facilities  
      She will be there with the night  
      To welcome myself and morning.

