%article#tausend
  %header
    %h1 Taus<br>end
    %h2 201<br>0

  %section
    :markdown
      ### 05/03/2010

      Where must I look  
      Why did I turn my back   
      I look around and I see unfamiliar faces  
      Yet the face that makes me happy  
      Is the face that I put the blame  
      Which path leads me to a better place  
      A place where shame cannot shelter  
      Where is the guiding beam of light  
      That grants illumination of the mind  
      I am to bear this burden  
      Yet the fault is not mine nor his  
      But ours which we failed to nurse

      Peace was ours yet we chose war  
      Moments of purity was within grasp  
      Like a petal it was plucked from our souls  
      We created our destiny and destiny tore us apart  
      We were good as two  
      But as one we failed  
      The bigger picture still lingers in my mind  
      Yet the small became the priority  
      Should forgiveness be asked over and over  
      Should there be another chance given  
      Will these wounds heal in time  
      Before love itself expires?

  %section
    :markdown
      ### 06/03/2010

      My heart was true  
      That much he knew  
      Our love was strong  
      Where did it go wrong  
      My mind was clear  
      Yet we lived in fear  
      My faith never wavered  
      It’s yet to be savoured.

  %section
    :markdown
      ### 07/03/2010

      I long to be nineteen again when all  
      I wanted was to chase away my virtues  
      At the prime of life when childhood fancies  
      Gave way to adult proclamations  
      It was a time when beauty was skin-deep  
      And the pace at which I gambled with life  
      Never seem to take its toll  
      Self-indulgence surrendered to no one  
      And I chose to asphyxiate self-control  
      Time came and went  
      With every action unaccounted for  
      I had no shame but lessons were learnt  
      And the campaign for truth was linear  
      Now all that seems true seems careless.

  %section
    :markdown
      ### 07/03/2010

      New faces  
      Adorn my screen  
      Too young or too old  
      Nothing in-between

      No one left  
      He’s far and away  
      Past mistakes  
      I’m left to pay

      Hope fades as  
      The tide rolls in  
      I ask myself   
      To whom have I sinned?

  %section
    :markdown
      ### 08/03/2010

      The thought of him cramps my stomach  
      It is a pain that bears the mark of a martyr  
      Yet I have been less than self-sacrificing  
      When all I did was point the finger

      This is it for us as a singular  
      We as plural live lives apart  
      Him in the country and I in the city  
      Both forgetting where to start

      That is life but it’s not the end  
      The past has no place in our future  
      With heart and mind given over  
      What we destroyed we shall nurture.

  %section
    :markdown
      ### 08/03/2010

      My wits stray from sunlight to shadow  
      While I remember the trip to Vienna  
      I wipe the sleep from my eyes  
      And I think of Good Times together

      I take a deep breath and exhale  
      The bitter morning air fills my chest  
      I clean up the mess that is my home  
      But fail to clean myself at best

      The tune of a fading voice remains  
      Terre de Hermes lingers in my bed  
      I change the sheets but to no avail  
      The scent has settled in my head

      Drifting between sunlight and shadow  
      His memory keeps my bed warm  
      Days are too long while nights give way  
      To a sky where thunder clouds form.

  %section
    :markdown
      ### 09/03/2010

      I am most ugly   
      When dull thoughts fill my mind  
      In the dead of night  
      The mind stirs with one eye blind  
      I talk to no one  
      But everyone hears my cry  
      Nowhere to turn  
      I set myself up for the fall  
      Emotions wane as   
      And I confuse shock with euphoria   
      I pray in his name  
      For the sweet thrill of surrender  
      My voice dissolves  
      As I try to make things clearer  
      Grant me one wish  
      So we could all sleep easier.

  %section
    :markdown
      ### 10/03/2010

      I owe him more than he does to me  
      Since lies were told both ways  
      Each and every time we called a truce  
      We tried to remember better days

      As I emerge from the wreck  
      I stand by this little prophecy  
      That time will be my healer To be single without the urgency.

  %section
    :markdown
      ### 10/03/2010

      All this talking   
      And to what end  
      Fist-less fights  
      Around the bend

      We turn a blind eye  
      But the damage is done Another verbal joust  
      We become undone

      All this pain  
      Without sense or reason  
      Our moods swing  
      Like the changing season

      My heart is tender  
      And so is your pride  
      Where do we go   
      To put our fears aside

      Love is blind  
      Or so they say  
      Love is the reason  
      You should stay

      But we rushed a love  
      That could not be  
      This is our curse  
      That much we agree

      In time we shall see  
      What fate will bring  
      This song now ends  
      At the onset of Spring.

  %section
    :markdown
      ### 11/03/2010

      If and when we meet again  
      Will it be anti-climatic  
      Will we be familiar strangers  
      And laugh at being over-dramatic

      If and when we kiss again  
      Would it make us coy  
      Our minds once read as one  
      Where speech needed no voice

      Indeed I hope we meet again  
      When both our manners are calm  
      For who have not made mistakes  
      Let those raise their palm

      So let us meet each other again  
      For our lives are fused as one  
      Even as friends I would not mind  
      Just say the word and I will come.

  %section
    :markdown
      ### 20/03/2010

      Almost a month  
      And the same charade  
      Now is the time   
      That peace is made

      Where do we go  
      To move ahead  
      This pit where I lie  
      Has become my bed

      I need to know  
      Who and where you are   
      I feel you near  
      When you are far

      There comes a time  
      When our time must end  
      Only to begin again  
      As we become friends.
