%article#unholy-litanies
  %header  
    %h1 Unholy<br>Litanies
    %h2 20<br>05

  %section
    :markdown
      Morning invades;  
      The shoreline, infinite.

      Questions of  
      Diverse proportions  
      Coalesce like the orb to the deep.

      From stone to soul  
      We are gradually dismantled,  

      As destinies follow  
      The ebbs and flows  
      Of currents of time.

  %section
    :markdown
      Pubescent grievances,  
      Unrefined.

      I wake to dress my vanity  
      And not myself.

      The heart no longer swells in  
      Revolutionary rigour;  

      Alas, such inconsequence,  
      Undefined.

  %section
    :markdown
      Allegiance to the soul

      Flounders with effeminacy.

  %section
    :markdown
      Rugged mural lynched above thy death bed  
      Hangs like a white flag...
      That once was a treasure trove for musing;  

      Benign

      Could it be Ereshkigal’s  depiction  
      Of life’s terrestrial  trivialities?

  %section
    :markdown
      I telepathically breed one word  
      From another;  
      The speech of the unworded speech  
      Resounds  
      In silence.

      This decadent allusion  
      - The yoke -  
      Hangs profusely from my fingers.

  %section
    :markdown
      Liberally decorated with colours;  
      Illiterate  
      Abstract compositions bear my disquiet

      Obtuse words; embryonic  
      Bear the grudge of  
      Self-styled confessions.

      The manifestation of insolence,  
      Coiled.

  %section
    :markdown
      Truly, I am my own master  
      (… Am I not?)
      Or have I eliminated all those around me  
      To be beneath me?

  %section
    :markdown
      Upon every grave-stone  
      A face of a thousand faces  
      Cling.
      Words on epitaph  
      Unlace past deeds, yet

      Simple tributes,  
      A memento mori  
      To themselves,  
      Replicates the disintegration.

  %section
    :markdown
      Irrepressible nerves  
      Scorched fortress  
      Beneath a hopeless cloud

      Pitiful.

  %section
    :markdown
      Hands and feet tied before the roasting…
      The crimson flames of Catholicism  
      Suffocates and empties the very organ  
      That  
      Once  
      Symbolised my heart.

      The contradiction of aggression and apathy  
      Swirls like cyclones amidst symbols and tunes,  
      Has me faltering  
      - Handicapped -
      At twenty-four.

  %section
    :markdown
      Self-fidelity  
      If only it could be reversed

      The iconography of my own,  
      Primed, attributes  
      Has assumed my title and name;  

      Yet in a plume of smoke, in this haze  
      It is not the divine light that seeks me  
      But that of the halo upon which  
      Crowns Immanuel…

      Thus, who will assume this name  
      Which gave birth to my identity?

  %section
    :markdown
      Gilded ornamentations  
      Decorate the smiles of dreamers;  

      Their gifts, evidential,  
      Weaves a common net  

      That inevitably sequesters  
      Their self-defects.

  %section
    :markdown
      Surveyor of thoughts  
      Curator of memories of dreams  
      A player amongst the Cachuchas…

  %section
    :markdown
      The ignited forms,  
      In this mathematical maze beyond  
      The bright twinkling that illumines the dark canvas:
      Man pondered these images and created signs;  
      Created mine.

      Though composed of binary oppositions,  
      This self  
      - the purist symbolism of myself –
      Evokes scepticism amongst friends.

  %section
    :markdown
      Off rue de Rivoli,  
      I have found an audience  
      Meticulous in their note-taking…

      But it is I, who should resign  
      To this discretion.  

      So let them become those  
      Men, children and mothers, who  
      Gather, play and milk the daily  
      Orderliness of life  
      Where questions need no answers  
      Where boy stalks girl  
      Woman needs man.

  %section
    :markdown
      This self-portrait  
      I leave behind  
      For past lovers  
      To judge, to laugh, to ponder at…

      Yet, to ponder without laughter,  
      To laugh without judgement  
      Deems this representation  
      Cavernous like a crater.

      They call me a chingado  
      Who awaits his place in society.
      Painted wench-like yet dutiful  
      I was beautiful;  
      Even behind that hysterical gaze,  
      Life had become my death-mask.

  %section
    :markdown
      I dance in the shadows  
      With and without  
      You

      Beneath  
      The twilight  
      I fear no-one

      (Yet fearlessness  
      Swathes my only  
      Fear)

      My  
      Suicidal  
      Tendencies are to blame

      I fear not the amorous  
      Acts I am capable  
      Of

      But  
      The re-enactments  
      That plague my mind

      The very transparency of my soul  
      Leaves me open to  
      Superstition.

  %section
    :markdown
      I am as two-dimensional as God could wish for  
      Yet inward and concave as inhumanly possible.

  %section
    :markdown
      He peeks at the under-skirt of life’s tragedies  
      And without care he becomes hard like a rock

      Seemingly  
      Instantaneous, and  
      Superficially  
      Substantiated,  

      He calls on his foes to ask for forgiveness.

  %section
    :markdown
      She smothers the cry of a new-born  
      As her existence yearned for non-existence  

      Crudely  
      Coercive, and  
      Subjectively  
      Calculated,  

      She climbs down and sobers up, murmuring a tune to Llorona.

  %section
    :markdown
      Words have become a voice of self-flattery  
      These liquid expressions conjure only deception

      Manically  
      Subtle, yet  
      Rudimentarily  
      Elementary;  

      And that life ever reaches its pinnacle is non-sensical.

  %section
    :markdown
      Before I pack my things to leave  
      Before I wonder off in an imaginary state of travel  
      I shall bless myself with these words my father left me:

      “The potential of your visit puts a smile of potentiality on my face…”

      And with these words I carry on my back,  
      Stride upon stride  
      I shall remember to bid adieu to the Frenchmen  
      And to those familiar faces to whom  
      I was  
      Unfamiliar.

  %section
    :markdown
      Upon every waking hour  
      The crucifix that hangs above my bed  
      Greets me with the usual pleasantries.

      Jesus, with his loin-cloth  
      Stares as I lie naked with myself.
      Though He lives within me  
      And, I, within Him

      We both share nothing in common  
      Just our schedules seem to always  
      Coincide.

  %section
    :markdown
      This is the Thursday  
      Their last Thursday  
      Of their last week (of adoration)

      Take a graceful bow before it’s too late!

      As the water slowly evaporates  
      From the sullied vase,  
      And the bloom of these Amaranthus’  
      Reaches their prime…

      Time is not a keeper of souls  
      But a custodian of nostalgia.

  %section
    :markdown
      You, narcissistic self,  
      A bottom-less well of self-love;  
      This is me yet an ellipsis of myself.

      With every praise bewilderment impounds  
      It secedes the very cells;  
      The very synapses that bind

      I see in others  
      Their physical majesty (only)
      Be it, Foreign, alien… European.

      I roam these corridors  
      While others break free beyond  
      I let my hair down  

      To cover any vilification  
      That could be passed  
      In front of the mirror.

  %section
    :markdown
      Midnight hour;  
      Her dishevelled hair  
      Appears pleasant.  
      A face, feline and sinuous  
      Traced by the faintest  
      Glimmer of light,  
      Which found its way through  
      The fissures of someone else’s  
      Self-fragmentation.

      As she deals her cards  
      Away from redemption,  
      The chores of everyday life  
      Of every unimportant person  
      Bears down like a tsunami.
      Perhaps it is for her sake;  
      For the sake of  
      The eternal artist,  
      The insane artist.

  %section
    :markdown
      Scent of sandal-wood  
      Schumann’s lieder in mother’s bedroom  
      The allure of perfection  
      Lingers like wet paint.

  %section
    :markdown
      Manuals of good behaviour  
      Thrown out from this moving train  
      I left myself behind at the station  
      But the voice of my mother remains.

  %section
    :markdown
      I have mislaid my gift  
      The gift that granted me  
      Lucidity of reasoning.

      Yet clarity of thought has brought only diffidence.
      If only I could, with a single blow to the throat,  
      Alleviate this nuisance  
      Than to be goaded by another glorious day.

      Knowledge has not set me free nor has my naivety  
      Been able to cage me from combustion.
      I am no longer the master of myself  
      But a slave to guilt trips and convulsions.

  %section
    :markdown
      Complete, I stand  
      Precise as a pin-point

      Formless like the next thought  
      Unrevealing as a nun’s garb

      Unequivocal like the birth of a stream  
      Multi-faceted as a hive

      Complete:
      In unison with infinity.

  %section
    :markdown
      Pale maidens await  
      Beneath a cerebral mist;  
      Quivers to the torrent of  
      Centric bliss.

  %section
    :markdown
      The essence of these indomitable words  
      That become the poetic frame  
      Of my declarations,  
      Thrives not in the liberation of  
      Paradigms encompassing human nature  
      But lies scattered amid  
      The elemental throngs;  
      In the crux of the unspoken mind.

  %section
    :markdown
      I beat my breast  
      As if to drum up courage.
      In the face of these demi-gods  
      Only, I, have myself to lose.

      So long, oyster-flesh;  
      Scarred reminiscence  
      Of youth.

  %section
    :markdown
      Coming-of-age:
      The advent of self-possession.

      The indigenous mould  
      Of innocence  
      In all its transience,  
      Is cast face down.

      A boy in all his youthful grandeur  
      Aspires to supersede  
      His father’s legacy.

  %section
    :markdown
      I squint my eyes,  
      Before the glaring day  
      That seeps intrepidly  
      Through the curtains.

      Which of the three faces  
      Should I wear…  
      That of the artist  
      The poet or the philosopher?

      Alas, none of them!

      These faces are but masks  
      That give birth to other faces,  
      And in this process of self-creation  
      A sense of belonging  
      All but dissolves.

  %section
    :markdown
      To seize a strand of life  
      To nestle it in our arms  
      To journey through a thousand landscapes  
      Yet home is not what we seek

      All of this is but a poet’s abstraction  
      Where reality is misplaced.

  %section
    :markdown
      Beast in the dark

      Scavenger of soul-remains.

  %section
    :markdown
      To gaze into Death’s eyes  
      To gaze deeply without fear…
      This is the only lesson I have learnt  
      From life’s horizontal misfortunes.

  %section
    :markdown
      The systematic dripping  
      Of translucent fluids  
      Play to the music of monitors.

      Screens communicate erratically  
      As if in possession of a conscience.
      The slow emphasis of time

      Resonates within these floral walls.
      The measured ticking of these  
      Mechanical arms  
      Welcome an unwelcome future.

      She lies there  
      Like a primitive totem,  
      As the cornucopia of  
      Unfrequented feelings  
      Bleed from her womb.

  %section
    :markdown
      I am not a poet  
      Of encyclopaedic fortitude.

  %section
    :markdown
      Light up and shine  
      Hallowed flower in bloom

      The iridescent moisture  
      Slides between your sheets  
      And enwraps your paleness

      Sublime

      Twisted at the stem  
      Reckless to the roots

      Sway you  

      Osiris,  
      The sun’s ascension into play  
      Lures the glances of  
      Misguided fools.

  %section
    :markdown
      The hours that consume  
      These tentative moments;  
      The assuredness of time’s  
      Constant miming of time’s passing,  
      Conceals yet commemorates  
      Every forsaken virginity  
      And every absurd toil.

  %section
    :markdown
      Perched on the outer  
      Rims of purgatory:

      Indistinguishable

      Mirrored idealism  
      Of heaven

      All that we feel  
      Is all that we need to see.

  %section
    :markdown
      There is nothing  
      Profound in my creations as  
      Only remnants of passion linger  
      Like excessive rhapsodies  
      At the eve of Spring.

      The root of the  
      Bona fide achievement  
      Is never fully up-rooted;  
      Locked in the mausoleum  
      Yet soothed by its  
      Own symphony

      Obscurity.

  %section
    :markdown
      Raw  
      Organic  
      Wide-eyed and howling

      From mother’s womb  
      To lover’s tomb

      We remain unbound until  
      Death.

  %section
    :markdown
      I clench only a fragment  
      Of him

      A  
      Silhouette  
      Of what is left behind

      The chipped teeth  
      Upon my clavicle

      Quiet moments  
      Bear the heartbeat of years

      Processed thoughts  
      Subdued

      I saddle myself for  
      Another awakened  
      Desire.  

  %section
    :markdown
      Before I could look  
      Deep into his eyes,  
      The sun came out  
      For the second time

      And he was gone…

      Torn apart by the  
      Heavenly rays,  
      Perhaps  
      Or by the allure of another  
      Pretty face?

  %section
    :markdown
      Count away  
      Without puerile tears  
      Randomness is at play.

      New found inhibitions  
      Senses unfettered  
      Words without prohibitions

      Take heed to these  
      Impassioned words;  
      Arethusa’s  out-going creed.

  %section
    :markdown
      The glacial incandescence of pride  
      Preserves, in its depths,  
      A fluid trace of  
      Melancholy…

  %section
    :markdown
      The reconciliation of mankind,  
      Placed delicately  
      On his shoulders…

      Beacon of light,  
      Once scintillating, now  
      Bends in the fog of vacillation.
      The heart no longer  
      Beats in congruity;  

      His youthful verve has sunken  
      Into the mire  
      Into the desire  
      For mental composure.

  %section
    :markdown
      A man with a black turban  
      (Cumulo-nimbus in nature)
      Approaches me on my birthday,  
      At the eve of just another  
      Uneventful day…

      Lets loose from his  
      Moustache-framed mouth  
      ‘Predictions’ that left me soaking  
      (While asking for donations).

  %section
    :markdown
      Sporadic night  
      Breaks into relentless day  
      Yet in this fatal wilderness  
      Self’s prototype is moulded in clay.

  %section
    :markdown
      Boundary of light  
      Flutters in a measured vastness  
      Convictions,  

      Entrenched

      Await the savage flames  
      To devour the last remnants  
      Of a prayer

      The solitary streetlamp dims  
      And God is nowhere to be seen.

  %section
    :markdown
      The trail of musk in imperial rooms;  
      Its silent flight across  
      Ether and light extends  
      A warm welcome, then labours  
      A hasty departure.

  %section
    :markdown
      Restless  
      Virgins, aloof

      Fraught  
      Gazes, inferring

      Dewy  
      Palms, proof

      Fuming  
      Gestures, disconcerting.

  %section
    :markdown
      Besotted sirens  
      You sit upon the rock  
      To lure delirium  
      Into your nefarious grip  
      Cadenced wails have  
      Become a withered glory  
      Like a flock of lost birds.

  %section
    :markdown
      City of immaculate facades,  
      What a pity that behind  
      The walls lie obliquity;  
      That still desperately harbours  
      An antediluvian barrenness  
      Muffles, unanimously.

  %section
    :markdown
      The indifference of a feather  
      Grey yet blessed with divinity  
      Adorns a deflated wing

      Its aerial mobility, diffused.

      Upright to attention  
      Muted from exclamation, the once  
      Laudable crest of flight

      Has its expiatory manor, displayed

      Tossed by tidal surges  
      Vertigo, adapted to a fuse;  
      Enrolled, alas, to a ghostly fate

      The threat of soul-wreck, caressed.  

  %section
    :markdown
      The squareness of my mind  
      Like a round window that overlooks  
      A triangular, shoreless, tranquility  
      Profusely plays, enduringly,  
      To life’s universal geometry.

  %section
    :markdown
      The sphere of reasoning  
      Through enfolded nebulas  
      Do this pergola of opaque memories  
      Measure the measurelessness  
      Of inward desires while	
      Courting the whispers  
      Of perpetual pampering.

  %section
    :markdown
      Sub aqua  
      Dual column  
      Spuming swell  
      Buried light  
      Soul-evoking

      Anat’s ring.

  %section
    :markdown
      Songs of absolutes  
      Groom the passageways;  

      Glorious in its surrender  
      Into the belly of the sepulchre.

  %section
    :markdown
      Upon dry wreaths  
      Of lustreless  
      Hyacinths

      Spells of exultation lay,  
      Among airy speculations  
      This garland of white

      Ashen, despondent

      Crown the horns  
      Of hung heroes.

  %section
    :markdown
      Amphora aloft  
      Inward-resonating  
      Clement dreams  
      Overgrown stalk.

  %section
    :markdown
      Eight thousand five hundred and seventy-seven days, encounting  
      The time for re-resurrection has come;  
      My new birth-place, though, visible only in my mind  
      Crystallizes into the banal subsistence of this moment.

  %section
    :markdown
      On the Day of the Annunciation  
      Of all the simple days, he  
      Came, aslanting, and combed  
      My hair away from my face;  
      Fragranced my skin with  
      Frankincense from head  
      To Aglaia’s torso.

  %section
    :markdown
      Jeremiad aplenty

      Apriori

      Anthracite  
      Fumes…  

      Delayed.

  %section
    :markdown
      Flights of midnight fancies  
      Decipher aromas that penetrate  
      And slake our lips to the core.

      Visual sensations unfastened, with  
      The expulsion of ballistic anthems;  
      Upon the bed of forsaken petals

      Bodies, lurid, in all its  
      Sacrificial splendour, bestows onto  
      Each other noble presages.
      As the phantom cherubs take off  

      Into the enwoven embroidery  
      Of night, assuaged;  
      The honeyed sap, lukewarm,  
      Drips forth brazenly.

  %section
    :markdown
      Plum groves  
      Veins to a bough  
      Her syrup drips from  
      Thorns onto tired soil

      Bastion of ivory  
      A thousand silk parts  
      Flaking roots  
      Plucked by the oriole

      Intricate undergrowths  
      Swirling rays unseen  
      The dragon-fly feigns

      Acacia, ‘tis you  
      I attend.

  %section
    :markdown
      The catafalque gleams under  
      Dawns arched luminosity

      An untimely radiance wearily  
      Drapes her foul apparition

      Embers vainly burn only  
      To sculpt a withered essence.

  %section
    :markdown
      Seraphic nuances  
      Habitually recite  
      A forged demeanour

      Self-abiding;  
      Natal  

      Is this not my own  
      Protracted awakening?

  %section
    :markdown
      Sudden, disharmonized  
      Outpouring of melodic follies

      Put to shame with a forewarning  
      From the much displeasured  
      Von Karajan.

  %section
    :markdown
      Swans and unicorns  
      Are so very alike, not  
      In the Darwinian sense  
      Of course, but in their  
      Elegant diffusion between  
      Self and embellishment.

      Lynxs and sphinxs too,  
      Carry this callow burden;  
      With a countenance divine  
      Their sublte smiles, smile  
      Away the ethereal inferences  
      That ungodly creatures  
      Unkindly perpetuate.

  %section
    :markdown
      Worthless, ever-dying amber flare

      Rust-coated knife, flesh-deep I tear.  

  %section
    :markdown
      St. Lucia, isle  
      Immortalized

      Your metaphyiscal charm  
      Abates my anxious self…
      Self?

      The playing of hours  
      Of days

      Opens this portal  
      Where the tide of untruth  
      Flows out.

  %section
    :markdown
      Listen! Don’t carp at the wind  
      Fellow brothers of this new generation  
      Glance out of your carrels  
      And forsake ‘carpe diem,’
      Instead nourish your tree  
      With experientalism.

  %section
    :markdown
      The landscape, nocturnal,  
      Careens unguided  
      Valley-high, cliff-deep

      The mythical hands;  
      Always in control  
      Of the uncontrollable  

      Sets forth a precedence  
      For the untamed man.

  %section
    :markdown
      It is not sorrow  
      That the heart secretes  
      In the eventual shut-down  
      Of a flushed heart  
      Insouciance  
      Cowers  
      Amid the flowers  
      That marks the  
      Territory of guilt.

  %section
    :markdown
      From the emerald sands  
      Lift thy soul

      The burden of lost time  
      Amends itself through  
      Creative pursuits.

  %section
    :markdown
      Submerged Babylon, laid  
      To rest by an untenable fate.

      Dethroned, overnight, by the  
      Ineluctable vegetation  
      That once coloured your streets.

      Monuments that defined an epoch  
      Now, all but obscured, rise from  
      Torn pages of obscure texts

      Only to disintegrate again  
      Until curiosity revives you.

  %section
    :markdown
      So die then!
      Bequeath your possessions to me

      They are more appealing than memories

      And I shall this blood-stained cloth  
      Donate.

  %section
    :markdown
      I have been blamed for my loitering;  
      My poise, my pursuits;  

      Assigned with a wingspan of a vulture;  
      The intimidating plumage  
      (The filtrate of a fad)
      Has, unwantonly defined my  
      Character as predatory.

      With all honesty, I agree  
      No aviaries, or secluded reserves  
      Can contain me…

      And why should they?
      The sky is my threshold  
      And Earth, my sovereignty.

  %section
    :markdown
      Insecurities siphoned  
      Into the once unused flagon;  
      Now filled with burgundy lust  
      Await the once monogamous hand  
      To pour into a stranger’s cup  
      The wine of a once coveted sweetness.  

  %section
    :markdown
      If and when he leaves,  
      I shall become Basemath, and he, Esau  
      For I cannot uncurl the curve of  
      This convexed revelation.
      As I have become an enstranged  
      Mirror-semblance  
      It is only sensible to change  
      My name.

  %section
    :markdown
      Heart-quake  
      A self-yearned inquisition  
      Now, a mere tremor

      Taciturn;  

      Only to convalesce the self  
      With a remedy of laudanum,  
      Lavishly employed.  

  %section
    :markdown
      Mother of all dynasties  
      Lay your head upon the crisp linen  
      And recite your prayers,  
      Even if nonchalantly.
      The world is, at your command,  
      Huddled in a celestial-comb…

      You are the Pieta  
      Solemn, transcendental  
      Formless to a form  
      And visible only as  
      An uncelebrated  
      Shadow-mistress

      Upon shedding a tear  
      You become masculine.

  %section
    :markdown
      Serpent, off-spring of avarice  
      Sloughs latitudinally along the lattice of reeds

      It’s tongue rattles the air, slovenly,  
      And finds its way into another unguarded Eden.

  %section
    :markdown
      Everyone’s concern  
      For my ‘well-being’
      Has been duly noted (I say).
      Yet a residue of astonishment  
      Hangs in my mouth  

      But, it should  
      Not come as a surprise  
      To me (they say),  
      As I have always been  
      The prodigal son.

  %section
    :markdown
      Rally forth into the exposed night  
      With the resolute chanting of a forgotten cause;  
      Maybe then, your spartan life will seem worthy  
      To die for.

  %section
    :markdown
      Every once in a while  
      Our monastic idealisms  
      Take the crooked path downhill  
      To the jostle of other life forms  
      Where human errors criss-cross  
      The pathways of forgiveness.

  %section
    :markdown
      Woman, why pretend to sleep?
      Even with eyes closed  
      Your eye-lids sputter  
      To a quickened heart-beat.

      You hear a voice,  
      Yet unacquainted,  
      In the cramped room  
      At the back of your mind  
      But it is just the resonance  
      Of a ‘good-bye.’

      You wait for him  
      In your wasted dreams  
      Though amorphously,  
      He is already here.

  %section
    :markdown
      Falling, falling  
      The soul almost abandoned  
      Frameless to the knees  
      Frailty without origin

      Final words, without finality  
      Rapes him of a warm breath  
      And slice every sane image  
      Into wafer-thin segments

      Grounded  
      Paralytic  
      The source,  
      Jumbled.

  %section
    :markdown
      Silken petals  
      Flushed by the autumn breeze,  
      Settles like early snow.

      Aroused, yet embarrassed,  
      Its borne complexion reddens  
      By my sudden appearance.

      She recites a tune heofon-bound;  
      The delicate, fine arm  
      That clasps the dense mass

      Stands motionless,  
      Naked before us.

  %section
    :markdown
      Is there someone for everyone?
      Indeed I hope so.

      This idea  
      - Immaterial faith -  
      Becomes nothing more than a  
      Cold touch of deliberation  
      To scour the senses from seclusion.

  %section
    :markdown
      At youth, his responsibilities became domesticated.

      This self-phenomenon was never to part;  

      Beyond fanatical realms, he sort for glory.

  %section
    :markdown
      My simple mind  
      Is teeming with thoughts  
      Of yet unborn events  
      It is the itch  
      I cannot reach.

      The savage heart beats  
      A brutal beat, and in  
      The forum of righteousness,  
      These hands, once capable,  
      Await execution.

  %section
    :markdown
      Face of pious simplicity,  
      A reflection short  
      Of true portrayal.
      The smile, now famous,  
      In the sight of which  
      Venus doth stray;  
      The eyes, your pair,  
      Where constellations dwell  
      And hemispheres they are.

      Spoken word of you  
      Allures nature's observation.
      Soft, yet iron-brave,  
      Pristine without conformity  
      Even the flute-notes of cherubs  
      Endeavour to imitate.
      You blossom and consecrate  
      The fruits of love,  
      And in the name of charity,  
      Love those who cannot be loved.

  %section
    :markdown
      His image,  
      Still so vibrant and vivid,  
      Clings anonymously like fungus  
      To a tree.

      Between the senses, unused;  
      The unseasoned night plunges  
      Into a fiery well.  

      Memoirs of a love,  
        A mere remnant of a lover's kiss  
        The touch of our lips secured  
      Nature’s momentum once…	

      The only  
      Reality now  
      Is abandonment.

  %section
    :markdown
      Take me for what I am,  
      For myself, for my beliefs  
      Do not look at me to despise me.
      Turn your face… confront!
      For, I too, can be as thoughtless  
      And as shrewd as you.

      My eyes, and yours, blink away  
      Moments of the day, unchallenged.
      As Time desensitizes us,  
      It is not our complexion that reveals  
      Our age.

  %section
    :markdown
      Unperturbed  
      Polished intimacy;  
      Varnished hopes  
      Ride the sweet air

      Alas, this is but a  
      Blistered reminiscence  
      Of a once entrapped  
      Once living

      Carcass.

  %section
    :markdown
      Autumnal ghosts  
      Cindery vibrations  
      All that is beneath my skin.

      They permeate, virally,  
      Into the blood  
      A foregone elixir  
      Kindles the flame.

  %section
    :markdown
      Swept into the dust and into the past  
      The hollow abbreviation of yet  
      Another refined amusement  
      Vexes the rain-gods from submission.

  %section
    :markdown
      His short-sightedness  
      Has let his attention  
      Pursue the shadow  
      Of someone else’s  
      Jagged constitution.

  %section
    :markdown
      Her passion for flaws has now subsided…

      Past demurrals put to asunder  
      However magnanimous they stand on their Doric pedestal  
      She will become the greater storm that unleashes the thunder  
      So that once again, amid the cracks,  
      They become accountable.

  %section
    :markdown
      I colour her  
      Savagely  
      Tempestuously  
      Musically

      Her voice, beyond  
      Any rhythmical recognition  
      Recoils when  
      Our eyes meet  
      Lyrically.

  %section
    :markdown
      Cradled, cornelian face  
      Stubborn you are in your budding!
      Mere reflection of  
      The mercurial sun, upon a time  
      You were newly-weds.
      You roam existentially  
      Beyond veils of an imperfect hue;  
      Equipoised in this bleak  
      Sacramental expanse.

  %section
    :markdown
      Whispers in the cornfield  
      The chills of mid-spring  
      Bears with it the  
      Assumption of a new-born.

      The presence  
      Of the last ten years

      Ambrosial

      Ventures deeper into  
      The cordial clasp  
      Of its denouement.

  %section
    :markdown
      Phallic compass

      Impetus of might

      Amoral conquests

      To instinct’s delight.

  %section
    :markdown
      The breathing,  
      A little off…

      Moist disequilibrium,  
      Without the feat of artifice,  
      Pieces together the chaste centuries  
      Of an earlier ancestry…

      But wanton affection  
      Never left the scene.

  %section
    :markdown
      Enamoured mind-swills  
      Silent vigil

      The hope that one day  
      Life declines a miracle.

  %section
    :markdown
      Convictions of pandemic magnitude  
      (Processed like pillow-talk)

      Bipolar and universal  
      A strangeness…

      Aureola.

  %section
    :markdown
      I walk, bare-foot, curious as a sage;  

      The stimulation of past milenia fails  
      To wring dry the drunkeness of this age  
      And, of a life of purposelessness,  
      We convict ourselves as the forebearer.

  %section
    :markdown
      You say my love  
      Is no good for you  
      But a boy’s obedience  
      Is never undue.

      Your friends warn  
      That I am not  
      In the worthy few  
      My instincts forewarn  
      It is I you must woo.

  %section
    :markdown
      Dissolved portrait  
      Doubled infinity  
      Salvaging temperamentalists  
      Make t\ his face top heavy.

  %section
    :markdown
      The penetration of a satiated mind  
      (A malediction of a milked, flesh-worship)
      Gather in its stock, impiously,  
      A pile of derelict injustices  
      While bludgeoning the raising arms  
      Of a crippled figure;  

      High-pitched cry

      His tongue, a vessel of malice.

  %section
    :markdown
      Fly, Fly away  
      Into the vacant night,  
      Pure thoughts.
      Sink into the lustre  
      Of the celestial abyss.

      Intertwining, unfurling,  
      Exchanges encrusted;  
      Lixiviates our form  
      With veins inflamed.

      This fixation, dimorphic,  
      Enshrouds naked North  
      And sullen South.

  %section
    :markdown

      Brassy  
      Sardonic  
      Charlatan, my dearest.
      A heavy heart ripens  
      Because of you…
      Because it knows your secret well.

      Performing deviltry  
      Upon any hot-blooded drifter;  
      Towed along by the groin-felt instinct  
      That has you on a leash;  

      A hellion you claim to be  
      To me you were never that real.

  %section
    :markdown
      Chased by definition; now  
      Prolapsed

      Meaning  

      Chastised.  

  %section
    :markdown
      Sweet criminal  
      You whine about your style  
      Yet you are masterful  
      With disguises.

      Bloodthirsty, brazen  
      Human-trunk  
      Orphan-spirit  
      Give yourself up.

  %section
    :markdown
      My friend, my virginal  
      Berlin acquaintance  
      You are but this open existence  
      That quenches my thirst  
      For the Art’s and for the impish…

      You

      Unfading blush.

  %section
    :markdown
      The recollection of a yesteryear  
      Like a yesterday  
      Newly hatched.

      Fertilized  
      By brief recognitions  
      Of a muted influence

      This inner-séance  
      Dissolves time;  
      Present.

  %section
    :markdown
      The thwarted jolt;  
      Disengaging

      Livid senses;  
      Purulent

      Chronic sensitivity;  
      Alleviated.

  %section
    :markdown
      Latter-day clemencies  
      Intense undergrowth;  
      The mercy of a few Hail Mary’s  
      Enough to clear away the weed from  
      The copse…

      A trend in modern religion.

      Tasteful injustices  
      Like golden confetti thrown  
      Onto a festoon-clad procession;  
      Contamination in a soft,  
      Subtle manner

      To a heart's desire.

  %section
    :markdown
      Stricken, lust-driven  
      Addict of passion  
      Come back to me

      Inflammable fixations  
      With immortal obsessions;  
      Buoyant on this mind-ocean  
      Terminally

      Lead-heavy.

  %section
    :markdown
      Requiem to the Baptist

      Herodion’s chime

      A mindful jingling

      Awarded for his crime.

  %section
    :markdown
      Astray in the subliminal labyrinth,  
      The wanderer adorns a straight-jacket  
      Of claustrophobia

      Innate;  

      Insulates  
      The insipid fumes of a desperation,  
      A warped distraction  
      Titivates the lithic soul  
      Before casting itself  
      To the tight-rope  
      Of another spectacle.  

  %section
    :markdown
      Almighty Hades,  
      Model of a sedated world,  
      Expands its border  
      To reach this encampment  
      Where refuge from the unknown  
      Has kept us on our toes.

  %section
    :markdown
      Sub-human, lost property  
      Her frayed rag doll  
      Bead on a necklace  
      Pierced belly-button  
      She looks into me as  
      If a kaleidoscope.

      Granite stature  
      With mood swings  
      Again nine month’s pregnant  
      Pregnant with the  
      ‘flavour of the month’
      Yet motherless to a child.

      He is but a set of  
      Systematic measures;  
      The bruises on my chest,  
      Permanent like the tattoo  
      On his right ankle.

      They reward me with painkillers  
      But it wears off like the  
      Caffeine of a morning coffee.

      To them I am the truth behind their lie  
      Tarnished tin robot  
      A used syringe  
      In the forbidden den.

      I am only eleven  
      I am an alcoholic  
      ‘So where is my pint…?’
      Says this non-conformist.

  %section
    :markdown
      Conscience  
      The inexorable parasite  
      Shadow’s own copy…
      Lacks self-control

      From time to time  
      It sinks unaware into the quick-sand,  
      And waits for the absent hand  
      To heave us from unreality.

  %section
    :markdown
      She plays with my attentiveness;  

      Like origami,  

      Folds me two-fold with papery affections.

  %section
    :markdown
      Emotions bare the emblem of lust.
      From love to hate, anger or sorrow,  
      The uncommon thirst to fulfil  
      And absorb each one;  
      Invokes a numbing pleasure  
      Which our minds will secure and  
      Consequently mend our parts to  
      Prime us for a subsequent displeasure.  

  %section
    :markdown
      If only the heart could speak words  
      What would mine say?

      Will it be voiceless before the mind’s opprobrium  
      And thus, not speak freely?  

  %section
    :markdown
      Draconian reparations

      Impressions of a rusty ochre

      Glides through this glade

      Along life’s meridian.

  %section
    :markdown
      Thoughts of my eventual departure  
      Seize the minds of love-members  
      Yet what is inside mine  
      Is much less trivial…

      I am not a prisoner,  
      But His prize.

  %section
    :markdown
      An embossed metalanguage  
      Fills my page with a script  
      Of childish stupidities.
      Like braille, these fingers  
      Are fed with an influx of sensations  
      That expose the undertone  
      Of an adult’s impropriety.

      Unlike the convolvulus-attribute  
      Of earlier misdemeanours  
      That caricatured my youth,  
      My head is at last on my shoulders  
      And on my limbs…
      Can I be forgiven  
      For yet another whim?

  %section
    :markdown
      Death, you are a friend  
      Revered by many,  
      I need not pretend.

      Like Life, your part is sacrosanct,  
      Though your tears are not of joy  
      They are still precious to the heart.

      This soul, to you I send.  
      I cleave to you sacrilegiously  
      In wait of my inconsequential end.

  %section
    :markdown
      Resign from resistance,  
      Pause the pain and  
      Silence the shooting.
      Halt the hammering and havoc;  
      Relinquish all provocation  
      By dismantling your misery  
      At the door.  

  %section
    :markdown
      No stray bullets on this eve to dart  
      Through mustard clouds, but the  
      Stench of those perished, enshrouds  
      The men, entrenched, head down in prayer  
      On this cold, defended, holy day.
      The calm, cerulean sky of a nearby dawn  
      Someone's mother prepares to mourn  
      The death of her child and of innocence known  
      In front of a grave she stands alone.

  %section
    :markdown
      Shy in my remembering;  
      Unkind in my forgetting

      Secret lover,  
      Is this how it will end?

      When I try to forget,  
      I merely recollect.

  %section
    :markdown
      Will I come to my senses eventually  
      And proceed in taking off the disguises?
      Will I come full circle and permit testimony  
      To my actions?

      To reveal a face, as it is,  
      As it was, and perhaps even,  
      As it should be…

      No! Cast off ‘the Pariah,’ ‘the Delinquent’
      And this ‘Spoilt-brat,’
      Set back instead the oriental smile  
      That everyone remembers you by.
  %section
    :markdown
      Undue cravings,  
      An appetite for antics; my  
      Incorruptibility set myself  
      And the world apart.

      Molten ambitions,  
      Uncombed dreams;  
      Escape into  
      Eternal abeyance.  

  %section
    :markdown
      Bed-ridden

      Fresh wisterias bear witness  
      To an asphyxiating discord with  

      A fat angel.
      