#art {
  article {
    @extend .page;
    left: 0;
    width: 100%;
  }
  figure {
    left: 0;
    position: absolute;
    text-align: center;
    top: 60px;
    width: 100%;
  }
  .previous,
  .next {
    background: image-url("layout/previous.png");
    color: lighten($medium-color, 20%);
    font-size: 80px;
    height: 120px;
    left: 20px;
    margin-top: -60px;
    position: absolute;
    top: 50%;
    width: 60px;
    z-index: 999;
    @include hide-text;
    @include opacity(.3);
    @include transition(opacity, .5);
    &:hover {
      color: $medium-color;
      @include opacity(1);
    }
  }
  .next {
    background: image-url("layout/next.png");
    left: auto;
    right: 20px;
  }
  h2 {
    text-align: center;
  }
  h3 {
    @extend .headline-font;
    margin-top: 10px;
  }
  p {
    margin: 0;
  }
}