#index {
  @extend .page;
  margin-left: 26px;
  padding-top: 200px;
  text-align: center;
  width: 940px;
  span {
    margin-left: -2px;
  }
  nav {
    position: absolute;
    text-align: left;
    width: 300px;
    @include opacity(0);
    @include transition(opacity, 1s);
    nav {
      position: static;
      margin-left: 20px;
      width: auto;
      @include opacity(1);
      + a {
        margin-top: 10px;
      }
      a {
        &:before {
          content: "– ";
        }
      }
    }
    a,
    span {
      @extend .headline-font;
      display: block;
      line-height: 20px;
    }
    span {
      color: $link-color;
    }
  }
  section:hover nav {
    @include opacity(1);
  }
}

#ante-art {
  float: left;
}

#ante-poetry {
  float: right;
}

#ante-interior {
  display: inline-block;
}

#ante-poetry,
#ante-interior {
  h2:before {
    background: lighten($medium-color, 10%);
    content: " ";
    height: 2px;
    margin: 15px 0 0 -167px;
    position: absolute;
    width: 147px;
  }
}

#ante-interior,
#ante-art {
  h2:after {
    background: lighten($medium-color, 10%);
    content: " ";
    height: 2px;
    margin: 15px 0 0 20px;
    position: absolute;
    width: 147px;
  }
}