#index {
  section {
    float: left;
    margin-top: 100px;
    &:not(:first-child) {
      margin-left: 187px;
    }
  }
  nav {
    @include opacity(0);
    @include transition(opacity, 1s);
  }
  section:hover nav {
    @include opacity(1);
  }
  a {
    display: block;
    line-height: 20px;
  }
}