#interior {
  article {
    @extend .page;
    position: relative;
  }
  figure {
    left: 70px;
    position: absolute;
    text-align: center;
    top: 100px;
    width: 800px;
  }
  .previous,
  .next {
    background: image-url("layout/previous.png");
    color: lighten($medium-color, 20%);
    font-size: 80px;
    height: 120px;
    margin: 0 0 0 -10px;
    position: absolute;
    top: 310px;
    width: 60px;
    @include hide-text;
    @include opacity(.3);
    @include transition(opacity, .5);
    &:hover {
      color: $medium-color;
      @include opacity(1);
    }
  }
  .next {
    background: image-url("layout/next.png");
    margin: 0;
    right: -10px;
  }
}