%article#existentia
  %h2 Existentia
  %a.previous(href="#") &lt;
  %figure
    %img(data-src="#{current_page_relative_path}images/paintings/5a.jpg")
    %figcaption
      %h3 Oil, acrylic, gouache and pencil on canvas
      %p 180 × 140 cm (71 × 55 in.), 2010
  %figure
    %img(data-src="#{current_page_relative_path}images/paintings/7a.jpg")
    %figcaption
      %h3 Oil, acrylic, gouache and pencil on canvas
      %p 180 × 140 cm (71 × 55 in.), 2010
  %a.next(href="#") &gt;