%article#photography
  %a.previous(href="#") &lt;
  - images_in('photography/*.jpg').each do |image|
    %figure
      %img(data-src="#{current_page_relative_path}images/photography/#{image}")
  %a.next(href="#") &gt;