#contact
  .address
    %h2 London
    %address
      8 More’s Garden
      %br
      London, SW3 5BB
      %br
      United Kingdom
    %p
      Mobile: +44 7770 752727
  .address
    %h2 Berlin
    %address
      Unter den Linden 14
      %br
      10117 Berlin
      %br
      Germany
    %p
      Tel: +49 30 20913994
      %br
      Fax: +49 30 20672921
      %br
      Mobile: +49 151 11545630
    %p
      %a(href="mailto:joseph@josephtong.de") joseph@josephtong.de
  .address
    %h2 Hong Kong
    %address
      Suite 1608 · Pacific Place Apartments
      %br
      88 Queensway
      %br
      Hong Kong
    %p
      Mobile: +852 6220 9898
  .created-by
    %a(href="http://www.hagenburger.net/") Design, SCSS, CSS3, HTML5 and jQuery by Nico Hagenburger
