#index
  %section
    %h2 Ante/Art
    %nav
      %a(href="#") Paintings
      %a(href="#") Photography
      %a(href="#") Installations
  %section
    %h2 Ante/Interior
    %nav
      %a(href="#") Berlin
      %a(href="#") London
  %section
    %h2 Ante/Poetry
    %nav
      %a(href="#") Moltecular
      %a(href="#") Moment Between Thoughts
      %a(href="#") Unholy Litanies
      %a(href="#") Soliloquoy
      %a(href="#") Hope-struck
      %a(href="#") Filix
      %a(href="#") Re Vera
      %a(href="#") Neue
      %a(href="#") Tausend
