.base-font {
  font-family: $base-font-family;
}

.headline-font {
  @extend .normal;
  font-family: $headline-font-family;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.s {
  line-height: 20px;
  @include font-size($base-font-size);
}

.m {
  line-height: 20px;
  @include font-size($base-font-size);
}

.ml {
  line-height: 20px;
  @include font-size(($base-font-size + $large-font-size) / 2);
}

.l {
  line-height: 30px;
  @include font-size($large-font-size);
}

.xl {
  line-height: 40px;
  @include font-size($x-large-font-size);
}

.paragraph {
  @extend .base-font;
  @extend .m;
  margin: 1em 0;
}

.headline {
  @extend .headline-font;
  margin: 1em 0;
  @include text-shadow(rgba($medium-color, .8), 0, 0, 1px)
}

body {
  @include font-smoothing;
}

strong,
em {
  @extend .bold;
}

p {
  @extend .paragraph;
}

h1 {
  @extend .headline;
  @extend .xl;
}

h2,
legend {
  @extend .headline;
  @extend .l;
}

h3,
h4 {
  @extend .m;
}

time {
  @extend .paragraph;
}

article {
  ol,
  ul {
    @extend .paragraph;
  }
}
