body > header {
  @extend .headline;
  @extend .ml;
  background: image-url("layout/gradient.png");
  bottom: -40px;
  height: 40px;
  left: 0;
  margin: 0;
  padding: 80px 0 40px;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 99;
  //@include linear-gradient(color-stops(
  //  rgba(darken($light-color, 30%), 0),
  //  darken($light-color, 30%) 33%,
  //  darken($light-color, 60%)
  //));
  @include transition(bottom, 1s);
  &:hover {
    bottom: 0;
  }
  a,
  a:visited {
    color: white;
    &:hover {
      color: darken($light-color, 10%);
    }
  }
  small {
    color: $medium-color;
    display: block;
    font-size: $small-font-size;
    margin-top: 20px;
    a + a:before {
      content: "· ";
    }
  }
}

html {
  background: $light-color image-url("layout/background.png");
}

body {
  margin: auto;
  width: 940px;
}

.page {
  position: absolute;
  visibility: hidden;
  @include opacity(0);
  @include transition(all, 2s);
  &:target {
    visibility: visible;
    @include opacity(1);
  }
}