body > header {
  @extend .headline;
  @extend .ml;
  background: image-url("layout/gradient.png");
  bottom: -40px;
  height: 40px;
  left: 0;
  margin: 0;
  padding: 80px 0 40px;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 99;
  @include transition(bottom, 1s);
  .csstransitions &:hover {
    bottom: 0;
  }
  a,
  a:visited {
    color: white;
    &:hover {
      color: darken($light-color, 10%);
    }
  }
  small {
    color: $medium-color;
    display: block;
    font-size: $small-font-size;
    margin-top: 20px;
    a + a:before {
      content: "· ";
    }
  }
}

html {
  background: $light-color image-url("layout/background.png");
  overflow-x: hidden;
}

body {
  margin: auto;
  width: 940px;
}

.page {
  display: none;
  position: absolute;
  top: 0;
}